.resources-view .container {
  min-height: 0;
  @media (max-width: 480px) {
    padding: 0 15px;
  }
}

.button-default {
  padding: 22px 15px;
  background-color: #175871;
  color: #ffffff;
  display: inline-block;
  font-family: "ZonaPro Thin", sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-space: 10px;
  letter-spacing: 2px;
  &:hover {
    color: #ffffff;
    background-color: mix(#175871, #000, 50%);
    text-decoration: none;
  }
}

.button-alt {
  padding: 22px 15px;
  background-color: #53b8e0;
  color: #ffffff;
  display: inline-block;
  &:hover {
    color: #fff;
    background-color: #175871;
    text-decoration: none;
  }
}

.btn.btn-basic {
  font-family: "ZonaPro Bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  background: #1a5973;
  color: #fff;
  padding: 17px 20px;
  font-size: 17px;
  border: 1px solid #fff;
  border-radius: 0;
}

.btn.btn-block {
  width: 100%;
  max-width: 680px;
  text-align: center;
  display: inline-block;
  margin: 0.4em 0;
  white-space: normal;
}

.button-outline {
  padding: 30px 15px;
  border: 2.2px solid rgba(23, 88, 113, 1);
  font-size: 2rem;
  font-weight: normal;
  text-space: 5px;
  font-family: "ZonaPro Thin", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  max-width: 300px;
  margin: 65px auto;
  color: #175871;
  &:hover {
    text-decoration: none !important;
    text-underline: none;
    color: #175871;
    background-color: #fff;
  }
}

hr.divider {
  border-top: 1px solid #898989;
  margin: 40px 0;
}
.page-template-page-construction {
  .resources-view {
    margin: 75px auto 0;
  }
  h2 {
    text-transform: uppercase;
    @media (max-width: 480px) {
      font-size: 30px !important;
    }
  }
  img {
    max-width: 100%;
  }
  a {
  }

  .divider-dash {
    width: 112px;
    margin: 22px auto;
  }
  .on-page-nav {
    background-color: rgba(83, 184, 224, 0.78);
    position: absolute;
    width: 100%;
    bottom: 0;
    @media (max-width: 480px) {
      display: none;
    }
    .page-nav-items {
      display: flex;
      align-items: center;
    }
    .page-nav-item {
      &:nth-child(1) {
        margin-left: 0;
        margin-right: 20px;
      }
      &:nth-last-child(1) {
        margin-right: 0;
        margin-left: 20px;
      }
      cursor: pointer;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      text-align: center;
      width: 168px;
      height: 161px;
      padding: 0 20px;
      //margin: 45px 20px 0;
      @media (max-width: 480px) {
        margin-left: 0;
        margin-right: 0;
      }
      svg {
        width: 90px;
        path {
          stroke: #fff;
          fill: #fff;
        }
      }
      p {
        font-size: 1.5rem;
        line-height: 15px;
        text-transform: uppercase;
        color: #ffffff;
        :hover {
          text-decoration: none;
        }
      }
    }
  }
  .construction-hero {
    background: url("../_images/hero.jpg") no-repeat center/cover;
    padding: 150px 0 80px;
    height: 614px;
    position: relative;
    h2 {
      color: #fff;
    }
    .divider-dash {
      border: 1px solid #fff;
    }
    p {
      font-size: 2.4rem;
      color: #fff;
      text-align: center;
      font-weight: 300;
    }
  }
  .schedule {
    margin: 60px 0;
    p {
      font-size: 2.4rem;
      text-align: center;
      font-weight: 300;
      margin-bottom: 34px;
    }
  }
  .rfq {
    padding: 60px 0;
    background-color: #a6c0cb;
    text-align: center;
    h2 {
      color: #175871;
    }
    p {
      color: #175871;
      font-size: 2.4rem;
      font-weight: 300;
      margin: 34px 0;
      padding: 0 100px;
      display: block;
      @media (max-width: 480px) {
        padding: 0;
        font-size: 1.6rem;
      }
    }
    .divider-dash {
      border: 1px solid #175871;
    }
    .circle {
      height: 120px;
      width: 120px;
      background-color: #e9f1f5;
      border-radius: 50%;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      margin: auto;
      svg {
        path {
          stroke: #175871;
          fill: #175871;
        }
        width: 75px;
      }
    }
  }
  .email-list {
    background-color: #459bbc;
    padding: 60px 0;
    text-align: center;
    h2 {
      color: #fff;
      padding: 0 120px;
      @media (max-width: 480px) {
        padding: 0;
      }
    }
    p {
      color: #ffffff;
      font-size: 2.4rem;
      font-weight: 300;
      margin: 34px 0;
      padding: 0 100px;
      display: block;
      @media (max-width: 480px) {
        padding: 0;
        font-size: 1.6rem;
      }
    }
    .divider-dash {
      border: 1px solid #fff;
    }
    form {
      display: flex;
      @media (max-width: 720px) {
        flex-direction: column;
      }
      > * {
        flex: 1;
      }
      .gform_body {
        flex: 3;
      }
      .gform_fields {
        display: flex;
        @media (max-width: 720px) {
          flex-direction: column;
        }
        label {
          display: none;
        }
        .gfield {
          flex: 1;
        }
        .gfield_radio {
          width: 50%;
          display: flex;
          justify-content: space-between;
          input[type="radio"] {
            margin-right: 0 !important;
          }
          > * {
            flex: 1;
          }
        }
        input,
        textarea {
          padding: 20px !important;
          margin-right: 20px;
          width: 100%;
          border: 0;
          box-shadow: none;
          &::placeholder {
            color: #459bbc !important;
          }
        }
      }
      .gform_footer {
        margin: 7px 0 0;
        input[type="submit"] {
          background-color: #175871;
          color: #ffffff;
          width: 100%;
          border: none;
          box-shadow: none;
          margin-right: 0;
          border-radius: 0;
          padding: 20px;
          font-family: "ZonaPro Thin", sans-serif;
          text-transform: uppercase;
          font-size: 1.6rem;
          text-space: 10px;
          letter-spacing: 2px;
          &:hover {
            color: #ffffff;
            background-color: mix(#175871, #000, 50%);
            text-decoration: none;
          }
        }
      }
    }
  }
  .industry-day-banner {
    padding: 60px 0;
    background-color: #175871;
    position: relative;
    ::after {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 50px solid #175871;
      position: absolute;
      bottom: -50px;
      left: 50%;
      margin-left: -50px;
    }
    h2 {
      color: #fff;
      b {
        font-weight: 700;
        font-family: "ZonaPro Regular", sans-serif;
      }
    }
    .sub-text {
      color: #54b9e0;
      text-transform: uppercase;
      font-size: 4rem;
      @media (max-width: 480px) {
        font-size: 1.8rem;
      }
    }
    svg {
      width: 100px;
      transform: scale(-1, 1);
      path {
        stroke: #54b9e0;
        fill: none;
      }
    }
  }
  .industry-day-links {
    padding: 110px;
    text-align: center;
    @media (max-width: 780px) {
      padding: 110px 0;
    }
    .title {
      padding: 0 75px;
      color: #175871;
      margin-bottom: 30px;
      @media (max-width: 480px) {
        padding: 0;
      }
      h3 {
        font-weight: bold;
        font-size: 4rem;
        text-transform: uppercase;
      }
      p {
        font-size: 2.4rem;
        @media (max-width: 480px) {
          font-size: 1.6rem;
        }
      }
    }
    .events {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin-top: 60px;
      @media (max-width: 480px) {
        flex-direction: column;
      }
      .event {
        background-color: #c9d7de;
        width: 47%;
        padding: 45px;
        color: #175871;
        @media (max-width: 780px) {
          width: 100%;
          margin-bottom: 10px;
          padding: 45px 20px;
        }
        .city {
          font-size: 3rem;
          font-weight: bold;
          color: #175871;
          text-transform: uppercase;
        }
        .divider-dash {
          border: 1px solid #175871;
        }
        .venue {
          max-width: 275px;
          font-size: 2.4rem;
          font-weight: bold;
          margin: auto;
        }
        .date {
          margin-top: 15px;
          font-size: 2.4rem;
        }
        .button-alt {
          font-size: 2rem;
          font-weight: normal;
          text-space: 5px;
          font-family: "ZonaPro Thin", sans-serif;
          text-transform: uppercase;
          letter-spacing: 4px;
          margin-top: 30px;
        }
      }
    }
  }
  .informational-links {
    background-color: #698c3a;
    padding: 60px 0;
    text-align: center;
    .updates {
      margin-top: 30px;
    }
    h2 {
      color: #fff;
    }
    h3 {
      font-family: Oswald, sans-serif;
      font-size: 2.5rem;
      color: #ffffff;
    }
    .divider-dash {
      border: 1px solid #fff;
    }
    p {
      text-transform: none;
      font-size: 24px;
      color: #ffffff;
    }
  }
  .videos {
    h2 {
      color: #fff;
    }
    .divider-dash {
      border: 1px solid #fff;
    }
    background-color: #175871;
    padding: 70px 0;
    .modal-body {
      padding: 0;
    }
    .vid-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 35px;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .video-list {
      display: flex;
      align-content: center;
      justify-content: space-between;
      @media (max-width: 480px) {
        flex-direction: column;
      }
      .video {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;
        img {
          width: 100%;
        }
        .desc {
          background: #ffffff;
          padding: 25px;
          text-align: center;
          width: 100%;
        }
        > * {
          flex: 1;
        }
      }
    }
  }
}
