hr {
  clear: both;
  margin: 60px 0;
}

.inner-page {
  &.page-template-page-form{
    background-color: #ffffff;
  }
}
.page-template-page-form, .page-template-page-2col {
  img {
    max-width: 100%
  }
  .button-outline {
    padding: 30px 15px;
    border: 2.2px solid #175871;
    font-size: 1.6rem;
    font-weight: 400;
    text-space: 10px;
    font-family: ZonaPro Thin,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    max-width: 300px;
    margin: 65px 0;
    color: #175871;
    text-align: center;
    &:hover {
      background-color: #fff;
    }
  }
  .text-blue {
    color:#175871;
  }
  .resources-view {
    margin-top: 50px;
  }
  .hero {
    background-color:#175871;
    padding: 170px 40px 100px;
    text-align: center;
    h1 {
      color: #ffffff;
      font-size: 5.25rem;
      font-family: ZonaPro Thin,sans-serif;
      text-transform: uppercase;
    }
    .divider-dash {
      border-top-color: #fff;
      margin: 22px auto; 
    }
    p {
      color: #fff;
      font-size: 3.8rem;
      font-family: ZonaPro Thin,sans-serif;
      text-transform: uppercase;
    }
    @media(max-width: 480px) {
      h1 {
        font-size: 2.6rem;
      }
      p {
        color: #fff;
        font-size: 1.8rem;
      }
    }
  }
  .subsection {
    border-bottom: 1px solid #e6ecee;
    padding: 0 0 50px;
    margin-bottom: 0;

    img {
      text-align: center;
    }
  }
  .main{
    p, li {
      font-size: 1.8rem;
    }
    ul {
      margin-left: 1rem;
      list-style-position: outside;
    }
    .white-bg {
      background-color: #ffffff;
      padding: 100px;
      color: #175871;
      @media(max-width: 1034px) {
        padding: 100px 60px;
      }
      @media(max-width: 480px) {
        padding: 50px 15px;
      }
      a{
        img {
          max-width: 100%
        }
      }
      img {
        max-width: 100%
      }
      .row {
        margin-bottom: 50px;
      }
      h2 {
        color: #175871;
        font-family: Lato, sans-serif;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 36px;
        //text-transform: uppercase;
      }

    }
    .alt-bg {
      padding: 100px;
      background-color: #C9D7DE;
      color: #495E66 !important;
      @media(max-width: 480px) {
        padding: 100px 10px;
      }
      p {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
      }
      .gform_body {

      }
      .gform_fields{
        label {
          font-size: 16px;
        }
        #field_1_3,
        #field_1_2,
        #field_1_3,
        #field_1_4,
        #field_1_5,
        #field_1_9,
        #field_1_11 
        {
          label {
            display: none;
          }
        }
        .gchoice_1_9_1 {
          label{
            display: inline-block !important;
          }
        }
        .gfield_radio {
          width: 50%;
          display: flex;
          justify-content: space-between;
          input[type=radio]{
            margin-right: 0 !important;
          }
          >*{
            flex: 1;
          }
        }
        input, textarea {
          padding: 20px !important;
          margin-right: 20px;
          width: 100%;
          border: 0;
          box-shadow: none;
          &::placeholder {
            color: #495E66 !important;
          }
        }
      }
      .gform_footer {
        input[type=submit]{
          background-color: #53B8E0;
          color: #ffffff;
          width: 100%;
          border: none;
          box-shadow: none;
          margin-right: 0;
          border-radius: 0;
          padding: 25px;
          font-family: ZonaPro Thin,sans-serif;
          text-transform: uppercase;
          font-size: 1.6rem;
          text-space: 10px;
          letter-spacing: 4px;
          cursor: pointer;
          &:hover {
            background-color: #175871;
          }
        }
      }
    }
  }
}