.fixedNav {
  position: fixed !important;
  box-shadow: 0 5px rgba(0,0,0,0.1);
  top: 119px !important;
  bottom: auto !important;
  background-color: rgba(83,184,224, 1) !important;
}
.header{
  .navbar-fixed-top {
    // top: 0;
    // padding-top: 0;
    // &.top-nav-collapse{
    //   top: 0;
    //   padding-top: 0;
    // }
    .green-bar {
      width: 100%;
      background-color: #95B265;
      margin-bottom: 15px;
      @media(max-width: 480px) {
        text-align: center;
      }
    }
    .button-outline {
      width: auto;
      max-width: 100%;
      padding: 10px 15px;
      border: 2.2px solid #ffffff;
      font-size: 1.5rem;
      font-weight: normal;
      text-space: 1px;
      font-family: 'ZonaPro Thin',sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 10px;
      color: #ffffff;
      float: right;
      &:disabled {
        cursor: default;
      }
      &:hover {
        text-decoration: none !important;
        text-underline: none;
        color: #fff;
        background: none;
      }
      @media(max-width: 480px) {
        float: none;
        clear: both;
      }
    }
  }
}

#connect {
  .connect-col {
    display: inline-block;
    width: 25%;
    margin: -2px;
    @media(max-width: 480px) {
      display: block;
      width: 100%;
      margin: 0;
    }
  }
}