.event-cta {
  border: 1px solid #979797;
  h3 {
    color: #175871;
    font-weight: bold;
    font-family: Lato, 'sans-serif';
  }
  .date {
      color: #175871;
      text-transform: uppercase;
  }
  .fl-button {
    font-family: ZonaPro Thin,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .button-default {
    padding: 12px 24px !important;
    line-height: 18px;
  }
}
.page-template-page-landing {
  .button-outline {
    padding: 30px 15px;
    border: 2.2px solid #175871;
    font-size: 1.6rem;
    font-weight: 400;
    text-space: 10px;
    font-family: ZonaPro Thin,sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    max-width: 300px;
    margin: 65px 0;
    color: #175871;
    text-align: center;
  }
  .text-blue {
    color:#175871;
  }
  .resources-view {
    margin-top: 50px;
  }
  .hero {
    background-color:#175871;
    padding: 40px;
    text-align: center;
    h1 {
      color: #ffffff;
      font-size: 5.25rem;
    }
    @media(max-width: 480px) {
      h1 {
        font-size: 3rem;
      }
      p {
        color: #53B8E0;
        font-size: 2rem;
      }
    }
  }
  .main{
    margin:100px 0;
    p {
      font-size: 2.5rem;
    }
  }
}
