.newsletter-header {
  background-color: #145772;
  margin: 75px auto;
  padding: 107px 0 91px;
  background-size: cover;
  background-repeat: no-repeat;
  &.slim {
    padding: 28px 0;
    margin-bottom: 118px;
    @media (max-width: 767px) {
      margin-bottom: 75px;
    }
    .container {
      display: flex;
      @media (max-width: 560px) {
        display: block;
      }
      .text-right {
        display: flex;
        flex-direction: column;
        flex: 1;
        @media (max-width: 560px) {
          text-align: left;
        }
        span {
          margin-top: auto;
        }
      }
    }
    .issue-tophead {
      font-size: 20px;
    }
    h2 {
      font-size: 32px;
    }
    .issue-subhead {
      font-size: 23px;
    }
  }
  h2 {
    text-align: center;
    margin-top: 0;
    color: #fff;
    @media (max-width: 560px) {
      font-size: 32px;
    }
  }
  .divider-dash {
    border: 1px solid #fff;
    margin: 15px auto;
  }
}
.issue-intro {
  background-color: #ffffff;
  padding: 50px 0;
  margin-bottom: 75px;
  margin-top: -118px;
  @media (max-width: 767px) {
    margin-top: -75px;
  }
  h2 {
    color: #175871;
    font-family: "ZonaPro Regular";
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 36px;
  }
}
.newsletter-issue-header {
  background-color: #145772;
  margin: 75px auto 0;
  padding: 100px 0 91px;
  @media (max-width: 991px) {
    padding: 122px 0 41px;
  }
  &.slim {
    padding: 28px 0;
    margin-bottom: 118px;
    @media (max-width: 767px) {
      margin-bottom: 75px;
    }
    .container {
      display: flex;
      @media (max-width: 560px) {
        display: block;
      }
      .text-right {
        display: flex;
        flex-direction: column;
        flex: 1;
        @media (max-width: 560px) {
          text-align: left;
        }
        span {
          margin-top: auto;
        }
      }
    }
    .issue-tophead {
      font-size: 20px;
    }
    h2 {
      font-size: 32px;
    }
    .issue-subhead {
      font-size: 23px;
    }
  }
  .issue-tophead,
  h2,
  .issue-subhead {
    color: #fff;
  }
  .issue-tophead,
  .issue-subhead {
    font-size: 33px;
  }
  .issue-tophead {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  h2 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    line-height: 1;
  }
}
.newsletter-view {
  margin: 0px auto;
  padding: 50px 0 0;
  .container {
    padding: 0;
  }
  .newsletter-section {
    .row {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 991px) {
        justify-content: center;
      }
      &.row-fix {
        margin: 0;
        justify-content: center;
      }
    }
    .newsletter-item {
      margin-bottom: 30px;
      display: flex;
      width: 48%;
      min-height: 700px;
      @media (max-width: 767px) {
        width: 100%;
      }
      .card-back {
        background-color: #fff;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-flow: column;
        overflow: hidden;
      }
      img {
        width: auto;
        height: 289px;
      }
      .card-content {
        padding: 28px 20px;
        display: flex;
        flex: 1;
        flex-flow: column;
        flex-basis: 100%;
        a.read-more {
          display: none;
        }
        h2 {
          font-size: 28px;
          margin-bottom: 25px;
          font-family: "ZonaPro Regular";
          font-weight: bold;
          @media (max-width: 767px) {
            font-size: 22px;
          }
        }
        ul {
          padding: 0;
          list-style-type: none;
          li {
            border-bottom: 1px solid #9b9b9b;
            &:first-child {
              a {
                padding-top: 0;
              }
            }
            &:last-child {
              border-bottom: 0;
            }
            a {
              padding: 30px 0;
              text-decoration: underline;
              font-size: 16px;
              display: block;
              font-weight: 300;
              color: #145872;

              @media (max-width: 767px) {
                font-size: 15px;
              }
              &:hover,
              &:focus {
                text-decoration: none;
                color: darken(#145872, 10%);
              }
            }
          }
        }
        p {
          margin-bottom: 45px;
          font-size: 18px;
          color: #4a4a4a;
          font-family: Lato;
          @media (max-width: 767px) {
            font-size: 15px;
          }
        }
        .btn-newsletter {
          background-color: #145872;
          color: #fff;
          line-height: 1;
          font-size: 14px;
          border-radius: 4px;
          font-weight: 300;
          align-self: left;
          margin-top: auto;
          width: 40%;
          @media (max-width: 767px) {
            font-size: 15px;
            width: 100%;
            text-align: center;
          }
          &:hover,
          &:focus {
            background-color: darken(#145872, 10%);
            color: #fff;
            text-decoration: none;
          }
          &.sm {
            padding: 9px 30px;
          }
          &.lg {
            padding: 9px 60px;
          }
        }
      }
    }
    .above-title {
      font-size: 22px;
      color: #145872;
      line-height: 1;
      display: block;
      text-transform: uppercase;
    }
    .img-offset {
      margin-bottom: 50px;
      img {
        width: 100%;
        height: auto;
      }
    }
    h1.single-title {
      font-size: 42px;
      line-height: 1.2;
      font-family: ZonaPro Thin, sans-serif;
      margin-bottom: 30px;
      @media (max-width: 767px) {
        font-size: 30px;
      }
    }
    .single-content {
      p,
      li {
        font-size: 18px;
        @media (max-width: 767px) {
          font-size: 15px;
          margin: 0 0 20px;
        }
      }
      .callout {
        margin: 30px;
        padding: 50px;
        background-color: #e6ecee;
        border: none;
        width: 365px;
        @media (max-width: 767px) {
          width: 100%;
        }
        p,
        span,
        li {
          color: #145872 !important;
          font-size: 16px;
          line-height: 1.5;
        }
        li {
          margin-bottom: 15px;
        }
        &.left {
          float: left;
          margin-left: 0;
        }
        &.right {
          float: right;
          margin-right: 0;
        }
        &.wide {
          width: 100%;
          margin: 30px 0;
        }
      }
      .share-section {
        border-top: 2px solid #9b9b9b;
        padding-top: 15px;
        margin-top: 45px;
        span {
          text-transform: uppercase;
          font-size: 22px;
          display: inline-block;
          margin-right: 45px;
          @media (max-width: 991px) {
            display: block;
          }
        }
        a {
          display: inline-block;
          margin: 0 2px;
          color: #53b8e0;
          &:hover,
          &:focus {
            color: darken(#53b8e0, 10%);
          }
          i {
            font-size: 21px;
          }
        }
      }
    }
  }
  .newsletter-signup {
    background-color: #b4cad3;
    padding: 55px 50px 55px 35px;
    .pre-headline,
    h2 {
      color: #145872;
      text-transform: uppercase;
    }
    .pre-headline {
      font-weight: bold;
      display: block;
      font-size: 22px;
      @media (max-width: 1199px) {
        font-size: 20px;
      }
    }
    h2 {
      font-size: 33px;
      margin-top: 5px;
      @media (max-width: 767px) {
        font-size: 27px;
      }
    }
    .gform_wrapper {
      margin: 20px 0 0;
      input[type="text"] {
        border-radius: 4px;
        border: 1px solid #dfe3e9;
        height: 34px;
        margin-bottom: 8px;
      }
      ul.gform_fields li.gfield {
        padding-right: 0;
      }
      ul li.gfield {
        margin-top: 12px;
      }
      label {
        margin-top: 2px;
        margin-bottom: 0;
      }
      input[type="submit"] {
        border: 0;
        border-radius: 4px;
        background-color: #53b8e0;
        padding: 12px 63px;
        font-size: 14px;
        line-height: 1;
        color: #fff;
        &:hover,
        &:focus {
          background-color: darken(#53b8e0, 10%);
        }
      }
      .gform_footer {
        margin: 0;
        padding: 16px 0 0;
      }
      li.gfield.gfield_error,
      li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
        background-color: rgba(222, 122, 125, 0.3);
      }
      &.gform_validation_error
        .gform_body
        ul
        li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
        max-width: 100% !important;
      }
      ul.gform_fields li.gfield.gfield_error + li.gfield.gfield_error {
        margin-top: 12px !important;
      }
    }
  }
}
.newsletter-single-footer {
  background-color: #e6ecee;
  padding: 50px 20px 80px;
  margin-top: 100px;
  h3 {
    font-size: 22px;
    text-transform: uppercase;
    color: #145872;
    font-weight: bold;
    @media (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
  .gform_wrapper {
    margin: 20px 0 0;
    input[type="text"] {
      border-radius: 4px;
      border: 1px solid #dfe3e9;
      height: 34px;
      margin-bottom: 8px;
    }
    ul.gform_fields li.gfield {
      padding-right: 0;
    }
    ul li.gfield {
      margin-top: 12px;
    }
    label {
      margin-top: 2px;
      margin-bottom: 0;
    }
    input[type="submit"] {
      border: 0;
      border-radius: 4px;
      background-color: #53b8e0;
      padding: 12px 63px;
      font-size: 14px;
      line-height: 1;
      color: #fff;
      &:hover,
      &:focus {
        background-color: darken(#53b8e0, 10%);
      }
    }
    .gform_footer {
      margin: 0;
      padding: 16px 0 0;
    }
    li.gfield.gfield_error,
    li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
      background-color: rgba(222, 122, 125, 0.3);
    }
    &.gform_validation_error
      .gform_body
      ul
      li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
      max-width: 100% !important;
    }
    ul.gform_fields li.gfield.gfield_error + li.gfield.gfield_error {
      margin-top: 12px !important;
    }
  }
  .form-cta {
    font-size: 28px;
    color: #145872;
    @media (max-width: 767px) {
      font-size: 23px;
    }
  }
  .footer-list {
    @media (max-width: 991px) {
      margin-top: 50px;
    }
  }
  ul.newsletter-lists {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;

    li {
      border-bottom: 1px solid #9b9b9b;
      display: flex;
      min-height: 75px;
      width: 100%;
      @media (max-width: 991px) {
        min-height: auto;
      }
      &:last-child {
        border-bottom: 0;
      }
      a {
        padding: 10px 0;
        text-decoration: underline;
        font-size: 16px;
        display: flex;
        font-weight: 300;
        color: #145872;
        margin-top: auto;
        margin-bottom: auto;
        @media (max-width: 767px) {
          font-size: 15px;
        }
        &:hover,
        &:focus {
          text-decoration: none;
          color: darken(#145872, 10%);
        }
      }
    }
  }
}

.single-newsletters {
  &.inner-page {
    background: #fff;
  }
  .newsletter-view {
    margin: 0px auto;
    padding: 50px 0 0;
    .newsletter-section {
      .row {
        display: block !important;
      }
    }
  }
}
