body{
  &.popup-open{
    overflow: hidden;
  }
}

#pop {
  display: none;
  background-color: rgba(0,0,0,.85);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 4;

  &.open {
    display: block;
  }
  .pop {
    width: 600px;
    margin: 300px auto;
    background: #ffffff;
    @media(max-width: 480px) {
      width: 100%;
      margin: 100px auto;
      background: #fff;
    }
  }
  .pop-top{
    height: 131px;
    background-color: #53B8E0;
    position: relative;
    width: 100%;
    padding: 15px;
    .pop-icon {
      position: absolute;
      height: 150px;
      width: 150px;
      background-color: #FFFFFF;
      border-radius: 50%;
      margin: auto;
      left: 0;
      right: 0;
      top:35%;
      display: flex;
      align-items: center;
    }
  }
  .pop-body{
    padding:50px 25px;
    color:#45A9D8;
    text-align: center;
    background-color: #ffffff;
    h2 {
      font-size: 30px;
      color: #45A9D8;
      font-weight: 700;
      font-family: 'ZonaPro Regular',sans-serif;
    }
    h3 {
      font-weight: 200;
      margin-top: 0;
      letter-spacing: 3px;
    }
    p {
      color: #000000;
      font-family: Lato, 'sans-serif';
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 30px 0 50px;
    }
    .button-default {
      font-size: 2rem;
      font-weight: normal;
      text-space: 5px;
      font-family: 'ZonaPro Thin',sans-serif;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }
}