.category-section {
  .resource-item {
    &:nth-child(1) {
      border: none !important;
    }
  }
}
.resources-view .resource-item:first-of-type {
  border-top: none;
}
.btn {
  text-transform: uppercase;
}

.collapse-toggle {
  font-family: "ZonaPro Bold";
  text-transform: uppercase;
  font-size: 18px;
  &:after {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    font-family: "Glyphicons Halflings";
    content: "\e113";
    color: #2d2d2d;
  }
  &.collapsed:after {
    content: "\e114";
  }
}

.single-resource {
  padding: 120px 0;

  p {
    font-size: 16px;
  }
}

.expanded-resources {
   h2 {
    font-family: "ZonaPro Bold";
    text-transform: uppercase;
    font-size: 32px;
  }
  h3 {
    font-family: "ZonaPro Bold";
    text-transform: uppercase;
    font-size: 18px;
  }

  ul {
    li {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 10px;
      //max-width: 400px;
    }
    ul {
      margin-top: 10px;
    }
  }

  .panel {
    background: #dbe3e6;
    padding: 20px;
    overflow: hidden;
  }
}

.postid-760 {
  .expanded-resources {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        font-size: 20px;
        a {
          line-height: 30px;
          font-size: 20px;
          text-decoration: underline;
        }
      }
    }
    .text-left {
      font-family: "ZonaPro Bold";
      font-size: 18px;
    }
    .collapse-toggle {
      font-family: "ZonaPro Regular", sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      &:after {
        display: inline-block;
        margin-left: 10px;
        font-size: 12px;
        font-family: "Glyphicons Halflings";
        content: "\e113";
        color: #2d2d2d;
      }
      &.collapsed:after {
        content: "\e114";
      }
    }
  }
}
