.download {
    text-decoration: underline;
    color:  #175871;
}

p {
    font-family: Lato, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'ZonaPro Regular', sans-serif;
}

.button-outline {
    padding: 30px 15px;
    border: 2.2px solid #175871;
    font-size: 1.5rem;
    font-weight: 400;
    text-space: 10px;
    font-family: 'ZonaPro UltraThin',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    max-width: 300px;
    color: #175871;
    text-align: center;
}

.button-default {
    padding: 22px 15px;
    background-color: #175871;
    color: #ffffff;
    display: inline-block;
    font-family: 'ZonaPro Thin',sans-serif;
}

.button-alt {
    padding: 22px 15px;
    background-color: #53B8E0;
    color: #ffffff;
    display: inline-block;
}

.btn.btn-basic {
    font-family: "ZonaPro Bold", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    background: #1a5973;
    color: #fff;
    padding: 17px 20px;
    font-size: 17px;
    border: 1px solid #fff;
    border-radius: 0;
}

.btn.btn-block {
    width: 100%;
    max-width: 680px;
    text-align: center;
    display: inline-block;
    margin: .4em 0;
    white-space: normal;
}

.text-blue {
    color:  #175871;
}

.entry-content img {
    margin: 0 0 1.5em 0;
}
.alignleft, img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
    max-width: 50%;
}
.alignright, img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
}
.aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}
.alignnone, img.alignnone {
    /* not sure about this one */
}
.wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;
}
.wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0;
}
.wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
}
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}
blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
}
blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
}