@import "modules/font-awesome";
@import "modules/wp-styles";
@import "modules/home-page";
@import "modules/orig";
@import "modules/resources";
@import "modules/construction";
@import "modules/landing-page";
@import "modules/newsletter";
@import "modules/form-page";
@import "modules/pop-up";

//AAA Overides

.inner-page {
  background: #f0f5f7;
}

.expanded-resources .panel {
  background: #f7fafa;
}

a {
  color: #175873;
}

a:focus,
a:hover {
  color: #175873;
}
