/* *****************************
 * FONTS
 ******************************* */

@font-face {
    font-family: 'ZonaPro Bold';
    src: url('../fonts/2D9F43_B_0.eot');
    src: url('../fonts/2D9F43_B_0-d41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/2D9F43_B_0.html') format('woff2'),
         url('../fonts/2D9F43_B_0.woff') format('woff'),
         url('../fonts/2D9F43_B_0.ttf') format('truetype');
}
@font-face {
    font-family: 'ZonaPro Regular';
    src: url('../fonts/2D9F43_5_0.eot');
    src: url('../fonts/2D9F43_5_0-d41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/2D9F43_5_0.html') format('woff2'),
         url('../fonts/2D9F43_5_0.woff') format('woff'),
         url('../fonts/2D9F43_5_0.ttf') format('truetype');
}
@font-face {
    font-family: 'ZonaPro Thin';
    src: url('../fonts/2D9F43_7_0.eot');
    src: url('../fonts/2D9F43_7_0-d41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/2D9F43_7_0.html') format('woff2'),
         url('../fonts/2D9F43_7_0.woff') format('woff'),
         url('../fonts/2D9F43_7_0.ttf') format('truetype');
}
@font-face {
    font-family: 'ZonaPro UltraThin';
    src: url('../fonts/2D9F43_3_0.eot');
    src: url('../fonts/2D9F43_3_0-d41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/2D9F43_3_0.html') format('woff2'),
         url('../fonts/2D9F43_3_0.woff') format('woff'),
         url('../fonts/2D9F43_3_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald Bold';
    src: url('../fonts/Oswald-Bold-webfont.eot');
    src: url('../fonts/Oswald-Bold-webfont-d41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Bold-webfont.html') format('woff2'),
         url('../fonts/Oswald-Bold-webfont.woff') format('woff'),
         url('../fonts/Oswald-Bold-webfont.ttf') format('truetype'),
         url('../fonts/webfont.html#Oswald-Bold-webfont') format('svg');
}
@font-face {
    font-family: 'Oswald Regular';
    src: url('../fonts/Oswald-Regular-webfont.eot');
    src: url('../fonts/Oswald-Regular-webfont-d41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Regular-webfont.html') format('woff2'),
         url('../fonts/Oswald-Regular-webfont.woff') format('woff'),
         url('../fonts/Oswald-Regular-webfont.ttf') format('truetype'),
         url('../fonts/webfont.html#Oswald-Regular-webfont') format('svg');
}
@font-face {
    font-family: 'Oswald Light';
    src: url('../fonts/Oswald-Light-webfont.eot');
    src: url('../fonts/Oswald-Light-webfont-d41d.html?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Light-webfont.html') format('woff2'),
         url('../fonts/Oswald-Light-webfont.woff') format('woff'),
         url('../fonts/Oswald-Light-webfont.ttf') format('truetype'),
         url('../fonts/webfont.html#Oswald-Light-webfont') format('svg');
}

/* *****************************
 * GENERAL
 ******************************* */

body, html {
	font-family: Lato, sans-serif;
}
body {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
p {
	font-weight: 400;
}
.center {
    text-align: center;
}
.btn.btn-outline {
    font-family: 'ZonaPro Thin',sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    background: 0 0;
    color: #fff;
    padding: 17px 40px;
    font-size: 17px;
    border: 1px solid #fff;
    border-radius: 0;
}
.no-x-padding {
	padding-left: 0;
	padding-right: 0;
}
.add-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}
.seeker {
	display: none;
}
.bx-wrapper .bx-viewport {
	border: none;
	box-shadow: none;
	left: 0;
}
.divider-dash {
	border: 1px solid #43433c;
    width: 112px;
    margin: 44px auto;
}
h2 {
	color: #43433c;
	font-family: "ZonaPro UltraThin",sans-serif;
    font-size: 53px;
}
h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
#map-canvas {
	width: auto;
	height: 500px;
}
.navbar-brand img {
	width: 240px;
}
.navbar-nav {
	float: right;
}
.navbar-nav li a:hover,
.navbar-nav>.active>a,
.navbar-nav>.active>a:focus,
.navbar-nav>.active>a:hover {
	color: #76daef !important;
    background: 0 0;
}
.navbar-nav>li>a {
	color: #fff;
	font-family: 'ZonaPro Regular', georgia;
	text-transform: uppercase;
}
.nav>li>a {
	padding: 12px 20px;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus,
.navbar-nav>li>a:active,
.nav>li>a:focus,
.nav>li>a:hover {
	background: none;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	bottom: 25px;
	opacity: 0.7;
}
.bx-wrapper .bx-pager:hover {
	opacity: 1;
}
.bx-wrapper .bx-pager .bx-pager-item a {
	border: 2px solid #fff;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	background: transparent;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #fff;
}
.yellow-link {
    color: #dbc23d;
    font-size: 17px;
    font-family: "ZonaPro Regular",sans-serif;
}
.top-nav-collapse {
	background: #2d2d2d;
	padding: 15px 0 9px;
	margin-top: 0 !important;
}
.top-nav-collapse .navbar-brand {
	padding-top: 0;
}
.top-nav-collapse .navbar-brand img {
	width: 160px;
}
.navbar-fixed-top {
	padding-top: 40px;
    position: absolute;
/*	top: 140px;*/
    top: 0;
}
.top-nav-collapse {
    position: fixed !important;
}
.top-nav-collapse.navbar-fixed-top {
	top: 0;
	padding-top: 15px;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background-color: transparent;
}
.navbar-toggle {
	background: #2d2d2d;
    border: solid 1px #2d2d2d;
    border-radius: 0;
    padding: 15px;
}
.navbar-default .navbar-toggle .icon-bar,
.navbar-toggle .icon-bar {
	background: #fff;
}
.navbar-nav>li>.dropdown-menu {
    background-color: #484848;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    top: 59px;
    padding: 0;
    left: -44px;
}
.navbar-nav>li>.dropdown-menu li a {
    outline: 0;
    padding: 20px 25px;
    text-align: center;
    background-color: #484848;
    border-bottom: 1px solid #878787;
    font-family: 'ZonaPro Regular',sans-serif;
    text-transform: uppercase;
    color: #fff !important;
}
.navbar-nav>li>.dropdown-menu li:last-child a {
	border-bottom: none;
}
.navbar .nav>li>.dropdown-menu::before {
    position: absolute;
    top: -13px;
    left: 92px;
    display: inline-block;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #484848;
    border-left: 20px solid transparent;
    border-bottom-color: #484848;
    content: '';
}
.navbar-nav>li>.dropdown-menu li a:hover {
	color: #76daef !important;
    background: 0 0;
}
.resource-btn:hover,
.resource-btn a:hover {
	cursor: pointer;
}
.se-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0
	right: 0;
	width: 100%;
	height 100vh;
	min-height: 100%;
	z-index: 2000;
	background: #1a4556;
	text-align: center;
    padding: 130px 0 0;
}
.se-pre-con .loader {
	margin: 6em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255,255,255,.2);
    border-right: 1.1em solid rgba(255,255,255,.2);
    border-bottom: 1.1em solid rgba(255,255,255,.2);
    border-left: 1.1em solid #fff;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.se-pre-con .loader,
.se-pre-con .loader:before {
	border-radius: 50%;
    width: 10em;
    height: 10em;
}
.full-height {
    min-height: 100%;
}
.fadeIn {
	opacity: 0;
}
.bounce-in {
    -webkit-animation: bounce-in 1.3s;
    animation: bounce-in 1.3s;
}
.bounce-in2 {
    -webkit-animation: bounce-in 0.6s;
    animation: bounce-in 0.6s;
}
.modal-dialog {
    margin-top: 240px;
}
.modal-content {
    background: #459bbd;
    border-radius: 2px;
    color: #fff;
}
.modal-content h5 a {
    font-size: 30px;
    line-height: 44px;
    color: #fff;
    text-shadow: 0 1px 0 #26708D;
}
.modal-content .btn-primary {
    background: #fff;
    border: none;
    color: #26708D;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.modal-content .btn-primary:hover,
.modal-content .btn-primary:focus,
.modal-content .btn-primary:active {
    background: #26708D;
    color: #fff;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.modal-header {
    border-bottom: solid 1px #26708D;
}
.modal-footer {
    border-top: solid 1px #26708D;
}

/* *****************************
 * HOME ONLY
 ******************************* */

#lost-water-warning {
	/*background: #dac347;
    background: #12323d;*/
    background: #e6ebee;
    padding: 0;
    font-family: 'ZonaPro Thin',sans-serif;
    border: solid 1px #2d2d2d;
    cursor: pointer;
    height: 0;
    overflow: hidden;
    color: #fff;
}
#lost-water-warning a {
	/*color: #2d2d2d;*/
    color: #fff;
}
#lost-water-warning a:hover {
	text-decoration: none;
}
#lost-water-warning .container {
	position: relative;
    padding: 0 150px;
}
#lost-water-warning .container h1 {
	font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}
#lost-water-warning .container h3 {
	margin-top: 0;
    text-transform: uppercase;
    font-family: 'Oswald Regular',sans-serif;
}
#lost-water-warning .container>div:nth-child(3) {
    text-align: right;
    padding-right: 0;
}
#lost-water-warning .closeWarning {
    position: absolute;
    right: 10px;
    top: 15px;
}
#learn-more-stop {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 200px;
}
#section1 {
	padding: 90px;
    height: 100vh;
    background: linear-gradient(rgba(31,90,114,.8),rgba(31,90,114,.8)),url(../images/water-ripple.jpg) center 0 no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
#section1 .container {
    max-width: 100%;
	padding: 0 70px;
	vertical-align: middle;
    position: absolute;
    top: 500px;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff;
}
#section1 .container h1 {
	font-family: 'Oswald Regular',sans-serif;
    text-transform: uppercase;
    font-size: 90px;
    margin-top: 15px;
    width: 100%;
    padding-bottom: 4px;
}
#section1 .container h3 {
	line-height: 0;
    font-family: 'ZonaPro UltraThin',sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
}
#section1 .container h3 span {
    display: inline-block;
    position: relative;
}
#section1 .container h4 {
 	font-family: "ZonaPro UltraThin",sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    margin-top: 24px;
}
#section1 .container p {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 17px;
    margin: 15px 0;
}
.btn-outline {
	#section1 	margin: 70px 0 15px;
}
#section1 .btn.btn-outline {
    font-family: 'ZonaPro Thin', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    background: 0 0;
    color: #fff;
    padding: 17px 40px;
    font-size: 17px;
    border: 1px solid #fff;
    border-radius: 0;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
#section1 .btn.btn-outline:hover {
	background: rgba(255,255,255,.1);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
#section1 .glyphicon.bounce {
    -webkit-animation: bounce 2s infinite ease-in-out;
    color: #fff;
}
#section1 .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
#section2 {
	background: #dac347;
    color: #2d2d2d;
    padding: 80px 20px;
    min-height: 100vh;
}
#section2 .weekbox {
	background: #baa63c;
    padding: 22px;
    font-family: 'ZonaPro Regular';
    min-height: 187px;
}
#section2 .weekbox h4 {
    margin-top: 0;
    font-family: 'ZonaPro Bold';
}
#section2 .weekbox h2 {
	font-family: 'ZonaPro Bold';
    font-size: 39px;
    margin: 25px 0 0;
}
#section2 .weekbox .clearfix {
	text-align: left;
}
#section2 .weekbox img {
	margin: 2px 13px 0 0;
}
#section2 .weekbox p {
	margin: 0;
    line-height: 20px;
    font-family: 'ZonaPro Bold';
    font-size: 20px;
}
#section2n h2 {
	font-family: "ZonaPro UltraThin",sans-serif;
    font-size: 53px;
}
#section2 h2.alt {
	font-family: 'ZonaPro Bold';
    font-size: 70px;
}
#section2 h3 {
	font-family: 'ZonaPro Bold';
	margin-top: 0;
	font-size: 26px;
}
#section2 p {
	font-size: 22px;
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 45px;
    font-family: Lato, sans-serif;
}
#section2 p a {
	font-weight: 700;
	color: #2d2d2d;
}
#sections2 p a:hover {
	color: #2d2d2d;
}
#main-carousel {
	margin-bottom: 50px;
}
#main-carousel .single {
	padding-left: 15px;
	padding-right: 15px;
}
#main-carousel .single .item-inner {
	background: #baa63c;
	padding: 15px;
}
#problem {
	background: #e6ecee;
	padding: 80px 20px;
}
#problem h4 {
	color: #26708D;
    font-size: 24px;
    margin-top: 15px;
    font-family: Lato, sans-serif;
    font-weight: 400;
}
#problem .col-md-3.animate-in1.scale-in1 {
	font-size: 17px;
    line-height: 21px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#problem .col-md-3.animate-in1.scale-in1:hover {
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#problem .light-blue-box {
	background: #459bbd;
    height: auto;
    padding: 30px 25px 25px;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}
#problem .col-md-3:hover .light-blue-box {
    background-color: #3182a2;
}
#problem .yellow-number {
	color: #dbc23d;
    font-family: "ZonaPro Regular",sans-serif;
    padding: 10px;
    border: 3px solid #dbc23d;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
#problem .col-md-3:hover .yellow-number {
	-webkit-transform: rotate(720deg);
	transform: rotate(360deg);
	-moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
#problem .light-blue-box h2 {
	font-family: "ZonaPro Bold",sans-serif;
    font-size: 16px;
    margin: 30px 0 19px;
    line-height: 21px;
    font-weight: 900;
    font-family: Lato, sans-serif;
	color: #fff;
}

#building {
    background: #e6ecee;
	padding: 80px 0px;
}
#building .equal-height .light-blue-box a:hover {
    text-decoration: none;
}
#building .container .row .building-text {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 30px;
}
#building .col-md-3.animate-in1.scale-in1 {
	font-size: 17px;
    line-height: 21px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#building .col-md-3.animate-in1.scale-in1:hover {
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#building .light-blue-box {
	background: #459bbd;
    height: auto;
    padding: 30px 25px 0px 25px;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}
#building .col-md-3:hover .light-blue-box {
    background-color: #3182a2;
}
#building .light-blue-box h2 {
    font-family: Lato, sans-serif;
	font-size: 20px;
    line-height: 24px;
    font-weight: 500;
	color: #fff;
    margin: 30px 15px 15px 15px;
    text-transform: uppercase;
}
#building .light-blue-box .building-img-1 {
    height: 100px;
    margin: 0 auto;
}
#building .light-blue-box .building-img-2 {
    height: 60px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
}
#building .row-2 {
    background: #2c82a4;
    margin-top: -3px;
}
#building .row-2 .expandable2 {
	height: 0;
    overflow: hidden;
}
#building .row-2 .expandable2 .content .container h5 {
    font-family: 'ZonaPro Bold',sans-serif;
    font-size: 18px;
    margin: 30px auto;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll form .form-group {
    text-align: left;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .input-group {
    opacity: .7;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .input-group:hover {
    opacity: 1;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll input {
    color: #fff;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll form label {
    font-family: 'ZonaPro Thin',sans-serif;
    font-weight: 300;
    color: #fff;
    margin: 10px 0;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .input-group-addon span {
    color: #fff;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll form .input-group-addon {
	background: 0 0;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll input[type=email],
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll input[type=text] {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    background: #2c82a4;
    z-index: 0;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row .col-md-4{
    padding: 0 15px;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check {
    display: inline-block;
    padding-right: 10.75px
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check:last-child {
    padding-right: 0px
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check .form-check-label span {
    font-family: "ZonaPro Regular",sans-serif;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    display: block;
    padding: 15px 22.5px;
    margin-bottom: 0px
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check .form-check-label .extra-padding {
    padding: 15px 25px;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check .form-check-label input[type="radio"] {
    display: none;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check .form-check-label input[type="radio"]:checked ~ span {
    border: 2px solid #0f323e;
    background: #0f323e;
    color: #fff;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll form legend {
    font-family: 'ZonaPro Thin',sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin: 10px 0;
    text-align: left;
    border-bottom: 0px;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row-4 .select-number {
    font-family: 'ZonaPro Bold',sans-serif;
    color: #43433c;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row-4 .btn-outline {
    font-family: 'ZonaPro Regular',sans-serif;
    font-size: 17px;
    letter-spacing: .5px;
    color: #fff;
    border: 1px solid #fff;
    margin: 10px 15px 30px 0px;
    padding: 17px 40px;
    -webkit-font-smoothing: antialiased;
    background: 0 0;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row-4 .btn.btn-outline:hover {
    background: rgba(255,255,255,.1);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row-4 .btn.btn-w-icon span {
    display: inline-block;
    visibility: hidden;
    filter: alpha(Opacity=0);
    opacity: 0;
    margin-left: 0!important;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
    width: 0;
}
#building .row-2 .expandable2 .content .container #mc_embed_signup_scroll .row-4 .btn.btn-w-icon:hover span {
    visibility: visible;
    filter: alpha(enabled=false);
    opacity: 1;
    margin-left: 15px!important;
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}


#solution {
	background: #12323e;
	color: #fff;
    padding-bottom: 0;
    padding: 80px 20px 0 20px;
}
#solution .container {
    padding: 0 60px;
}
#solution h2,
#solution p {
	color: #fff;
}
#solution .divider-dash {
	border: 1px solid #fff;
}
#solution h5 {
    color: #459bbd;
    font-family: "ZonaPro Bold",sans-serif;
    font-size: 18px;
    margin: 30px auto;
    line-height: 20px;
}
#solution p {
	-webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 17px;
    margin: 15px 0;
}
#solution .icon-column {
    text-align: center;
    margin: 35px 17px 15px;
    opacity: .7;
}
#solution .icon-column:hover {
    opacity: 1;
}
#solution .icon-column img {
    width: 123px;
    height: 123px;
}
#solution .icon-column:hover img {
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#solution .icon-column h5 {
	font-size: 15px;
}
#solution .solution-details {
	background: #12323e;
    color: #fff;
    padding: 55px 20px 75px;
}
#solution .solution-details .btn-outline {
    background: #459bbd;
    border: none;
    color: #12323e;
    font-weight: 600;
    font-family: 'ZonaPro Thin',sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    padding: 17px 40px;
    font-size: 17px;
    border-radius: 0;
}
#solution .solution-details .details-icon {
	background: #1a4352;
    text-align: center;
    padding: 40px 20px;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 45px;
    width: 100%;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
#solution .solution-details .details-icon:hover {
	-moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
#solution .details-graphic {
	margin-bottom: 20px;
}
#solution .details-graphic p {
	margin: 25px 0;
}
#solution .details-graphic .numbered-box {
	border-top: 1px solid #419cbd;
    border-left: 1px solid #419cbd;
    border-right: 1px solid #419cbd;
    padding: 0 28px;
    margin: 0 15px 40px;
}
#solution .details-graphic .numbered-box .box-header {
	background: #12323e;
    width: 50px;
    margin: -10px auto 20px auto;
}
#solution .details-graphic .numbered-box .box-header div {
	padding: 7px 5px 4px;
    border: 1px solid #419cbd;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    color: #419cbd;
    background: #12323e;
    margin: -15px auto 0 auto;
    font-family: "ZonaPro Regular",sans-serif;
    text-align: center;
}
#solution .details-graphic .numbered-box .zero-sixty-padding {
	padding: 0 100px;
}
#solution .details-graphic .numbered-box .static-graph {
	width: 95%;
    margin: 20px auto 45px;
}
#solution .details-graphic .numbered-box h6 {
	font-family: 'Oswald Light', sans-serif;
	color: #459bbd;
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: .6px;
}
#solution .details-graphic .numbered-box:last-child {
	border-bottom: 1px solid #419cbd;
}
#solution .affordable-box {
	margin: 0 15px 35px;
    background: #1f4d5e;
}
#solution .affordable-box .affordable-icon {
	padding: 18.7px 0;
}
#solution .affordable-box .details-big-text {
	background: #194150;
    padding: 37px 25px;
}
#solution .last-items .details-icon {
	background: -webkit-linear-gradient(#205061,#194150);
    background: -o-linear-gradient(#205061,#194150);
    background: -moz-linear-gradient(#205061,#194150);
    background: linear-gradient(#205061,#194150);
    position: relative;
}
#solution .last-items .details-icon .last-text {
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 100%;
	background: #194150;
	padding: 0 20px;
	height: 170px;
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}
#solution .last-items img {
	margin-bottom: 160px;
}
#solution .circled-carrot {
	padding: 13px 8px 0 10px;
    border: 2px solid #fff;
    border-radius: 200px;
    width: 50px;
    height: 50px;
    margin: 55px auto 30px;
    cursor: pointer;
}
#solution .btn.btn-outline.operations {
	font-family: 'ZonaPro UltraThin',sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    background: transparent;
    color: #fff;
    padding: 17px 40px;
    font-size: 17px;
    border: 1px solid #fff;
}
#solution .btn.btn-outline.operations:hover {
	background: rgba(255,255,255,.1);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.bx-wrapper {
	margin-bottom: 0;
}
.slider-caption {
    position: absolute;
    margin-left: -480px;
    margin-top: -110px;
    z-index: 9;
    top: 50%;
    left: 50%;
    width: 960px;
    max-width: 100%;
    height: 220px;
    padding: 15px 40px;
    background: #163337;
    background: transparent\8;
    background: rgba(22,51,55,.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#163337, endColorstr=#163337);
}
.slider-caption h5 {
	color: #459bbd;
    font-family: "ZonaPro Bold",sans-serif;
    font-size: 18px;
    margin: 30px auto;
    line-height: 20px;
}
.slider-caption p {
	color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    margin: 15px 0;
}
#news {
	background: linear-gradient(rgba(230,236,238,.8),rgba(230,236,238,.8)),url(../images/news-bg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 80px 20px;
}
#news h2 {
	font-family: "ZonaPro UltraThin",sans-serif;
}
#news .light-blue-box {
	background: #459bbd;
    height: auto;
    padding: 30px 25px 25px;
    text-align: left;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    height: 422px;
}
#news .light-blue-box h6 {
	font-family: "Oswald Light",sans-serif;
    color: #21586e;
    font-size: 18px;
    text-transform: uppercase;
}
#news .light-blue-box h2 {
	font-family: "ZonaPro Bold",sans-serif;
    font-size: 16px;
    margin: 30px 0 19px;
    line-height: 21px;
    color: #fff;
    text-transform: uppercase;
}
#news .light-blue-box p {
	-webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 17px;
    margin: 15px 0;
    font-family: Lato, sans-serif;
    color: #fff;
}
#news .light-blue-box .news-item {
	height: 320px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
#news .light-blue-box .read-more-link {
    position: absolute;
    bottom: 25px;
    text-align: center;
    width: 100%;
    margin: 0 -25px;
    z-index: 444!important;
}
#news .light-blue-box .read-more-link:hover {
 	color: #76daef;
 	text-decoration: none;
 }
#news .light-blue-box .news-item .cover {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 113px;
	background-image: url(../images/blue-fade.png);
	background-repeat: repeat-x;
}
#news .btn.btn-default.black {
	color: #000;
	border-color: #000;
	margin: 35px auto 30px;
}
#news .btn.btn-default.black:hover {
	background: rgba(54,54,54,.1);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
#news h5 {
	color: #459bbd;
    font-family: "ZonaPro Bold",sans-serif;
    font-size: 18px;
    margin: 30px auto;
    line-height: 20px;
}
#news p {
	color: #43433c;
	font-family: Lato, sans-serif;
	font-weight: 400;
    font-size: 17px;
}
#news p a {
	color: #459bbd;
}
#news p a:hover {
    color: #76daef;
    text-decoration: none;
}
#connect {
	background: #284620;
    color: #fff;
    padding: 80px 15px 0 0;
}
#connect h2 {
	color: #fff;
}
#connect p {
	color: #fff;
	font-family: Lato, sans-serif;
	font-weight: 400;
    font-size: 17px;
}
#connect .row-2 {
    display: block;
}
#connect .connect-col2 {
    display: inline-block;
    width: 20%;
    margin: -2px
}
#connect .connect-col {
    display: inline-block;
    width: 25%;
    margin: -2px
}
#connect .divider-dash {
	border-color: #fff;
}
#connect .social-icons {
    padding: 65px 0;
    display: block;
    cursor: pointer;
}
#connect .procurement-icon {
    background: #698c39;
}
#connect .twitter-icon {
	background: #94b359;
}
#connect .facebook-icon {
    background: #597a3c;
}
#connect .newsletter-icon {
    background: #698c39;
}
#connect .youtube-icon {
    background: #94B35D;
}
#connect .social-icons img {
 	margin-bottom: 35px;
 }
#connect .social-icons:hover img {
    background: rgba(255,255,255,.2);
    -webkit-transition: background 1s ease,padding .2s ease;
    -moz-transition: background 1s ease,padding .2s ease;
    transition: background 1s ease,padding .2s ease;
    border-radius: 300px;
    padding: 5px;
}
#connect .social-icons .btn {
	    font-family: 'ZonaPro Regular',sans-serif;
}
#connect .social-icons:hover .btn {
    background: rgba(255,255,255,.1);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
#connect div[class*='col-'] {
	padding-left: 0;
	padding-right: 0;
}
#connect .social-icons .btn.btn-outline .glyphicon {
    margin-left: 10px;
    vertical-align: text-top;
}
#connect .expandable {
	height: 0;
    overflow: hidden;
    background: #698c39;
}
#connect .expandable h5 {
	color: #284620;
    margin: 60px 0 40px;
    font-family: "ZonaPro Bold",sans-serif;
    font-size: 18px;
    line-height: 20px;
}
#connect form .form-group {
    text-align: left;
}
#connect .input-group {
    opacity: .7;
}
#connect .input-group:hover {
    opacity: 1;
}
#connect input {
    color: #E7FFB9;
}
#connect form label {
    font-family: 'ZonaPro Regular',sans-serif;
    margin: 10px 0;
}
#connect .input-group-addon span {
    color: #fff;
}
#connect form .input-group-addon {
	background: 0 0;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
}
#connect input[type=email],
#connect input[type=text] {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #E7FFB9;
    -webkit-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    background: #698c39;
    z-index: 0;
}
#connect .expandable .row .col-md-4 {
    padding: 0 15px;
}
#connect .expandable .btn-outline {
    margin-top: 10px;
    font-family: 'ZonaPro Regular',sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
    background: 0 0;
    color: #fff;
    padding: 17px 40px;
    font-size: 17px;
    border: 1px solid #fff;
}
#connect .btn.btn-outline:hover {
    background: rgba(255,255,255,.1);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
#connect .btn.btn-w-icon:hover span {
    visibility: visible;
    filter: alpha(enabled=false);
    opacity: 1;
    margin-left: 15px!important;
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}
#connect .btn.btn-w-icon span {
    display: inline-block;
    visibility: hidden;
    filter: alpha(Opacity=0);
    opacity: 0;
    margin-left: 0!important;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
    width: 0;
}
#seeker {
	display: none;
}
.bx-wrapper .bx-controls-direction a {
	z-index: 9;
}
.bxslider2 li {
	max-height: 525px;
	overflow: hidden;
}
.bxslider2 .slider-caption-alt {
	position: absolute;
	top: 200px;
	left: 0;
	width: 60%;
	margin-left: 20%;
	z-index: 999;
}
.bxslider2 .slider-caption-alt h5,
.bxslider2 .slider-caption-alt p {
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.bxslider2 .slider-caption-alt p {
 	font-size: 25px;
 	font-family: Lato, sans-serif;
 	font-weight: 400;
 	margin-bottom: 30px;
}
 .bxslider2 .slider-caption-alt h5 {
 	font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    line-height: 20px;
    font-family: "ZonaPro Bold", sans-serif;
}
.bx-wrapper .bxslider2 .slider-pic-alt {
	display: none;
}
.slider-headline {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
	z-index: 9;
}
.slider-headline h2 {
	color: #fff;
	font-family: "ZonaPro UltraThin",sans-serif;
}
.slider-headline .divider-dash {
	border-color: #fff;
}
.slider-cover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 8;
	background: rgba(0,104,139,0.4);
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	z-index: 99;
}
footer {
	background: #2d2d2d;
    padding: 60px;
    color: #aaa;
    font-family: 'ZonaPro Thin',sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -30px;
}
footer p {
    font-size: 14px;
}
footer img {
    margin: 10px 30px 23px 0;
}
footer small {
    font-size: 11px;
}
footer a {
	color: #459bbd;
}
footer a:hover {
	text-decoration: none;
	color: #76daef;
}
.owl-theme .owl-controls .owl-page span {
	background: none;
	border: solid 2px #2d2d2d;
	width: 14px;
	height: 14px;
}

/* *****************************
 * INNER PAGES
 ******************************* */

.resources-view {
    margin: 130px auto 100px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #43433c;
}
.resources-view .container {
    padding: 0 60px;
    min-height: 450px;
}
.resources-view .container h2 {
    text-align: center;
    margin-top: 5px;
    font-family: "ZonaPro UltraThin",sans-serif;
}
.inner-page {
	background: #e6ecee;
}
.resources-view .container .category-section .resources-item:first-child {
    border-top: 0;
}
.resources-view .resource-item {
    color: #7f7f7f;
    border-top: 1px solid #898989;
    padding: 25px 0 20px;
}
.resources-view .container h6 {
    color: #7f7f7f;
    text-transform: uppercase;
    font-family: "Oswald Light", sans-serif;
    font-size: 18px;
}
.resources-view .container h5 {
    color: #2d2d2d;
    font-family: "ZonaPro Bold", sans-serif;
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
}
.resources-view .container h5 a {
 	color: #459bbd;
 }
.resources-view .container h5 a:hover {
    color: #2d2d2d;
    text-decoration: none;
}
.resources-view .resource-item h4 {
    margin: 7px 0 18px;
    font-weight: 400;
    font-size: 18px;
    color: #7f7f7f;
    font-family: Lato, sans-serif;
    font-weight: 400;
}
.resources-view .resource-item p {
    font-size: 15px;
    color: #7f7f7f;
    font-family: Lato, sans-serif;
    font-weight: 400;
}
.resources-view .container .category-section>h5,
.resources-view .cms-feed h5.cms-section-header {
    border-top: 4px solid #1a5973;
    padding: 10px 0;
    margin-top: 50px;
}
.resources-view .container h5 {
    color: #2d2d2d;
    font-family: "ZonaPro Bold",sans-serif;
    margin: 0;
    text-transform: uppercase;
}
.resources-view .resources-filter h5 {
    font-size: 15px;
    margin-bottom: 15px;
}
.resources-filter .dropdown button {
	width: 240px;
	text-align: center;
	border-radius: 0;
	background: #424242;
    color: #fff;
    font-family: "ZonaPro Regular",sans-serif;
    border-bottom: 1px solid #878787;
    padding: 12px 0;
    border: 0;
    position: relative;
}
.resources-filter .dropdown button a {
	color: #fff;
}
.resources-filter .dropdown button a:hover {
	color: #fff;
	text-decoration: none;
}
.resources-filter .btn-primary.active.focus,
.resources-filter .btn-primary.active:focus,
.resources-filter .btn-primary.active:hover,
.resources-filter .btn-primary:active.focus,
.resources-filter .btn-primary:active:focus,
.resources-filter .btn-primary:active:hover,
.resources-filter .open>.dropdown-toggle.btn-primary.focus,
.resources-filter .open>.dropdown-toggle.btn-primary:focus,
.resources-filter .open>.dropdown-toggle.btn-primary:hover {
	background-color: #424242;
	border-color: #424242;
	box-shadow: none;
	outline: none;
}
.resources-filter .dropdown button .fa-caret-down {
	display: inline-block;
	font-size: 26px;
	margin-right: 15px;
	position: absolute;
	top: 10px;
	right: 6px;
}
.resources-filter .dropdown .dropdown-menu {
	position: absolute;
	width: 240px;
	left: 50%;
	margin-left: -120px;
	border-radius: 0;
	top: 42px;
	text-align: center;
	padding: 0;
	border: none;
	border-top: 2px solid #878787;
}
.resources-filter .dropdown .dropdown-menu a {
	color: #fff;
	background: #424242;
	padding: 12px 0;
	font-family: "ZonaPro Regular",sans-serif;
    border-bottom: 1px solid #878787;
    display: inline-block;
    width: 100%;
    padding: 12px 0;
}
.resources-filter .dropdown .dropdown-menu a:hover {
	color: #76daef;
    background: #484848;
}
.resources-view .category-section .btn-outline,
.resources-view .cms-feed .btn-outline {
    background: #1a5973;
    padding: 17px 80px;
    font-weight: 600;
}
.resources-view .resources-intro {
    font-size: 20px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}
.signup-form input {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px #43433c;
}
.signup-form .submit-button {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    background: #43433c;
    border: solid 2px #43433c;
    color: #e6ecee;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.signup-form .submit-button:hover,
.signup-form .submit-button:focus {
    color: #43433c;
    background: #e6ecee;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.procure-expand {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.procure-expand.open {
    height: 200px;
    padding: 30px 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
#connect .procure-expand input[type=email], #connect .procure-expand input[type=text] {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #698c39;
    -webkit-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    background: #284621;
    z-index: 0;
}
#connect .procure-expand form .input-group-addon {
    border-bottom: 2px solid #698c39;
}
#connect .procure-expand .mc-field-group {
    padding-left: 15px;
    padding-right: 15px;
}

.building-waterfix-page .building-waterfix-view {
    margin: 75px auto 100px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #43433c;
}

.building-waterfix-page .building-waterfix-view .main-content {
    background: #459bbd;
}
.building-waterfix-page .building-waterfix-view .main-content .container .row #slickTabs {
    display: table;
    margin: 0 auto;
}
.building-waterfix-page .building-waterfix-view .main-content .container .row #slickTabs .nav-tabs {
    border-bottom: 0px solid #fff;
}
.building-waterfix-page .building-waterfix-view .main-content .container .row #slickTabs .nav-tabs li {
    padding-left: 0px;
    padding-right: 0px;
    width: 100px;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    background: #fff;
    border: 1px solid #fff;
}
.nav-tabs>li>a:hover, 
.nav>li>a:focus, 
.nav>li>a:hover {
    border-color: transparent;
    background-color: transparent;
}
.building-waterfix-page .building-waterfix-view .main-content .container .row #slickTabs .nav-tabs li a {
    border-radius: 0px;
    padding: 10px 0px;
}
.building-waterfix-page .building-waterfix-view .main-content .container .row #slickTabs .nav-tabs li.active a .building-img {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
}
.building-waterfix-page .building-waterfix-view .main-content .container .row #slickTabs .nav-tabs li a .building-img {
    display: block;
    margin: 0 auto;
    height: 50px;
    filter: brightness(100);
    -webkit-filter: brightness(100);
    -moz-filter: brightness(100);
    -o-filter: brightness(100);
    -ms-filter: brightness(100);
}
.building-waterfix-page .building-waterfix-view .main-content2 {
    padding: 0;
}
.building-waterfix-page .building-waterfix-view .main-content2 .container {
    min-height: 450px;
    width: 100%;
}
.building-waterfix-page .building-waterfix-view .main-content2 .container .tab-content-home section {
    margin-top: 50px;
}
.building-waterfix-page .building-waterfix-view .main-content2 .container .tab-content-home section .main-text {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 300;
    display: block;
    margin: 0 auto;
    margin-bottom: 75px;
    width: 1170px;
}
.building-waterfix-page .building-waterfix-view .main-content2 .container .tab-content-home section .sub-head {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: #175873;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: 1170px;
}
.building-waterfix-page .building-waterfix-view .main-content2 .container .tab-content-home section .content-text {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 1170px;
}
.building-waterfix-page .building-waterfix-view .main-content2 .container .tab-content-home section .building-img-padding {
    display: block;
    margin: 0 auto;
    width: 1170px;
}
.building-waterfix-page .main-content2 section .row-2 {
    background: #2c82a4;
    height: auto;
}
.building-waterfix-page .main-content2 section .row-2 .container {
    width: 1170px;
    min-height: 0px;
}
.building-waterfix-page .main-content2 section .row-2 h5 {
    font-family: 'ZonaPro Bold',sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 30px auto;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll form .form-group {
    text-align: left;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .input-group {
    opacity: .7;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .input-group:hover {
    opacity: 1;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll input {
    color: #fff;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll form label {
    font-family: 'ZonaPro Thin',sans-serif;
    font-weight: 300;
    color: #fff;
    margin: 10px 0;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .input-group-addon span {
    color: #fff;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll form .input-group-addon {
	background: 0 0;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll input[type=email],
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll input[type=text] {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    background: #2c82a4;
    z-index: 0;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row .col-md-4{
    padding: 0 15px;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check {
    display: inline-block;
    padding-right: 10.75px
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check:last-child {
    padding-right: 0px
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check .form-check-label span {
    font-family: "ZonaPro Regular",sans-serif;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    display: block;
    padding: 15px 22.5px;
    margin-bottom: 0px
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check .form-check-label .extra-padding {
    padding: 15px 25px;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check .form-check-label input[type="radio"] {
    display: none;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row .mc-field-group .form-group .form-check .form-check-label input[type="radio"]:checked ~ span {
    border: 2px solid #0f323e;
    background: #0f323e;
    color: #fff;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll form legend {
    font-family: 'ZonaPro Thin',sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin: 10px 0;
    text-align: left;
    border-bottom: 0px;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row-4 .select-number {
    font-family: 'ZonaPro Bold',sans-serif;
    color: #43433c;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row-4 .btn-outline {
    font-family: 'ZonaPro Regular',sans-serif;
    font-size: 17px;
    letter-spacing: .5px;
    color: #fff;
    border: 1px solid #fff;
    margin: 10px 15px 30px 0px;
    padding: 17px 40px;
    -webkit-font-smoothing: antialiased;
    background: 0 0;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row-4 .btn.btn-outline:hover {
    background: rgba(255,255,255,.1);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row-4 .btn.btn-w-icon span {
    display: inline-block;
    visibility: hidden;
    filter: alpha(Opacity=0);
    opacity: 0;
    margin-left: 0!important;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
    width: 0;
}
.building-waterfix-page .main-content2 section .row-2 #mc_embed_signup_scroll .row-4 .btn.btn-w-icon:hover span {
    visibility: visible;
    filter: alpha(enabled=false);
    opacity: 1;
    margin-left: 15px!important;
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

/* *****************************
 * RESPONSIVE
 ******************************* */

@media(max-width: 1200px) and (min-width: 992px) {
	#solution .icon-column {
		margin: 35px 1.4% 15px;
	}
}
@media(max-width: 1199px) {
	/* CHANGES NAVBAR COLLAPSE POINT */
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    /* END - CHANGES NAVBAR COLLAPSE POINT */
    .navbar-fixed-top {
/*		margin-top: 23px;*/
		background: #2d2d2d;
        padding-top: 0;
	}
	.container>.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
		overflow: visible;
	}
}
@media(min-width: 992px) {
	#section1 h1:after {
		content: "";
	    width: 714px;
	    display: block;
	    margin: 5px auto 0;
	    border-top: 2px solid rgba(255,255,255,0.6);
	    z-index: -1;
	}
	#section1 h3 span:after, #section1 h3 span:before {
	    content: "";
	    position: absolute;
	    height: 112px;
	    border-top: 1px solid #fff;
	    top: 7px;
	    width: 300px;
	}
	#section1 h3 span:before {
	    right: 100%;
	    margin-right: 15px;
	}
	#section1 h3 span:after {
	    left: 100%;
	    margin-left: 15px;
	}
}
@media (max-width: 992px) and (min-width: 767px) {
	#solution .icon-column {
		width: 40%;
	}
	#solution .container .icon-column:last-child {
	    margin-left: 160px;
	}
}
@media(max-width: 991px) {
	#lost-water-warning .container {
	    position: relative;
	    padding: 0 70px;
	}
	.nav>li>a {
		padding: 30px 8px 12px 8px;
	}
	.navbar-brand img {
		width: 160px;
	}
	.navbar-nav>li.resource-btn.open .dropdown-menu {
		top: 72px;
		left: -60px;
	}
	.bxslider2 .slider-caption-alt {
		top: 140px;
	}
	.bxslider2 .slider-caption-alt h5 {
		font-size: 16px;
	}
	.bxslider2 .slider-caption-alt p {
		margin-bottom: 15px;
		font-size: 16px;
	}
	.slider-headline {
		top: 20px;
	}
	.slider-headline h2 {
		font-size: 30px;
	}
	.slider-headline .divider-dash {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#search-form {
		margin-top: 15px;
	}
}
@media screen and (min-width: 992px) {
  .equal-height {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
  }
  .equal-height > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
  }
}
@media(max-width: 960px) {
	.slider-caption {
	    position: absolute;
	    margin-left: 0;
	    margin-top: 0;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	}
	
}
@media(max-width: 767px) {

	.navbar-nav {
		float: left;
		width: 100%;
		margin: 7.5px 0;
	}
	.nav>li {
		width: 100%;
	}
	.nav>li>a {
		display: inline-block;
		width: 100%;
		padding: 20px;
		text-align: center;
	}
	.nav>li>a:hover,
	.nav>li>a:focus {
		background: #444;
	}
	#lost-water-warning .container h1 {
	    font-size: 32px;
	}
	#lost-water-warning .container h3 {
	    font-size: 19px;
	}
	#lost-water-warning .closeWarning {
	    position: absolute;
	    right: 0;
	    top: -25px;
	    height: 34px;
	    width: 34px;
	}
	.navbar-nav>li.resource-btn.open {
		position: relative;
	}
	.navbar-nav>li.resource-btn.open .dropdown-menu {
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
	}
	.navbar-nav>li.resource-btn.open .dropdown-menu li a {
		padding: 20px;
	}
	.navbar-nav>li.resource-btn.open .dropdown-menu li a:hover,
	.navbar-nav>li.resource-btn.open .dropdown-menu li a:focus {
		background: #444;
	}
	.navbar .nav>li>.dropdown-menu::before {
		left: 50%;
		margin-left: -20px;
	}
    #section1 {
        padding: 0;
    }
    #section1 .container {
        top: 300px;
        padding: 0;
        max-width: 90%;
    }
	#section1 .container h3, #section1 .container h4 {
	    font-size: 26px;
	}
	#section1 .container .btn.btn-outline {
	    padding: 15px 30px;
	    font-size: 12px;
	}
    .nav>li.hide-xs {
        display: none;
    }
}
@media(max-width: 720px) {
	#section1 .container h1 {
	    font-family: "Oswald Regular", sans-serif;
	    font-size: 33px;
	    margin-top: 15px;
	}
}
@media(max-width: 590px) {
	#lost-water-warning img {
	    width: 40px;
	}
	#lost-water-warning .container {
	    padding: 0 30px;
	}
	.nav>li {
		text-align: center;
	}
	.slider-caption h5 {
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 16px;
		line-height: 16px;
	}
	.slider-caption p {
		font-size: 12px;
	}
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto {
		bottom: 5px;
	}
	.bx-wrapper .bx-pager .bx-pager-item a {
		width: 10px;
		height: 10px;
	}
	#solution .solution-details .btn-outline {
		padding: 8px 14px;
		font-size: 12px;
	}
	.bx-wrapper .bxslider2 .slider-pic-alt {
		display: block;
	}
	.bx-wrapper .bxslider2 .slider-pic {
		display: none;
	}
	.bxslider2 .slider-caption-alt {
		width: 80%;
		margin-left: 10%;
	}
}
@media(max-width: 480px) {
	#section1 .container {
		width: 100%;
	}
	.slider-headline {
		top: 10px;
	}
	.slider-headline h2 {
		font-size: 20px;
	}
	.slider-headline .divider-dash {
		display: none;
	}
	.bxslider2 .slider-caption-alt {
		top: 80px;
	}
    h2 {
        font-size: 44px;
    }
    #section2 h2.alt {
        font-size: 44px;
    }
    #solution .solution-details .btn-outline {
        font-size: 10px;
    }
    #news h2 {
        font-size: 34px;
    }
    #solution .container {
        padding: 0;
    }
    .numbered-box img,
    #solution .last-items img{
        max-width: 100%;
    }
    #solution .details-graphic .numbered-box .zero-sixty-padding {
        padding: 0;
    }
    #connect .expandable {
        height: 500px !important;
    }
}

/* *****************************
 * ANIMATIONS
 ******************************* */

#problem .col-md-3.animate-in1 {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
}
#problem .col-md-3.animate-in1.scale-in1 {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
}

@-webkit-keyframes load8 {
    0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	}
	100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	}
}
@keyframes load8 {
    0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	}
	100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	}
}

@-webkit-keyframes bounce {
    0%,
    100%,
    20%,
    53%,
    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0)
    }
}
@keyframes bounce {
    0%,
    100%,
    20%,
    53%,
    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -2px, 0)
    }
}

@-webkit-keyframes bounce-in {
	0% {
	    opacity: 0;
	    -webkit-transform: scale(.4, .4);
	    transform: scale(.4, .4);
	}
	20% {
		opacity: 0.4
	    -webkit-transform: scale(.8, .8);
	    transform: scale(.8, .8);
	}
	40% {
	    opacity: 0.7
	    -webkit-transform: scale(.6, .6);
	    transform: scale(.6, .6);
	}
	60% {
	    opacity: 0.9
	    -webkit-transform: scale(.9, .9);
	    transform: scale(.9, .9);
	}
	80% {
	    opacity: 1
	    -webkit-transform: scale(.8, .8);
	    transform: scale(.8, .8);
	}
	100% {
	    -webkit-transform: scale(1, 1);
	    transform: scale(1, 1);
	}
}
@keyframes bounce-in {
	0% {
	    opacity: 0;
	    -webkit-transform: scale(.4, .4);
	    transform: scale(.4, .4);
	}
	20% {
		opacity: 0.4
	    -webkit-transform: scale(.8, .8);
	    transform: scale(.8, .8);
	}
	40% {
	    opacity: 0.7
	    -webkit-transform: scale(.6, .6);
	    transform: scale(.6, .6);
	}
	60% {
	    opacity: 0.9
	    -webkit-transform: scale(.9, .9);
	    transform: scale(.9, .9);
	}
	80% {
	    opacity: 1
	    -webkit-transform: scale(.8, .8);
	    transform: scale(.8, .8);
	}
	100% {
	    -webkit-transform: scale(1, 1);
	    transform: scale(1, 1);
	}
}

