
/*
Tipue Search 5.0
Copyright (c) 2015 Tipue
Tipue Search is released under the MIT License
http://www.tipue.com/search
*/

#search-form {
	width: 40px;
	position: relative;
	overflow: visible;
}
#search-form-alt {
	width: 100%;
	height: 40px;
}
#search-form .fa,
#search-form-alt .fa {
	color: #fff;
	font-size: 18px;
	display: inline-block;
	margin-top: 15px;
	position: relative;
	z-index: 5;
}
#search-form-alt .fa {
	position: absolute;
	right: 8%;
}
#search-form .fa:hover {
	cursor: pointer;
}
#tipue_search_input {
    font-family: 'ZonaPro Thin';
    font-size: 18px;
	color: #e6ecee;
	padding: 0;
	width: 0;
	border: none;
	border-radius: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
    box-shadow: none; 
	outline: 0;
	margin: 0;
	background: #646464;
	position: absolute;
	top: 5px;
	height: 40px;
	right: 15px;
	z-index: 4;
}
#search-form-alt #tipue_search_input {
	padding: 12px;
	width: 90%;
	left: 5%;
	padding-right: 50px;
}
#tipue_search_content
{
    width: 100%;
	padding-top: 15px;
	margin: 0;
}
#tipue_search_warning
{
     font: 300 15px/1.6 'Open Sans', sans-serif;
	color: #555;
	margin: 7px 0;
}
#tipue_search_warning a
{
     color: #396;
     text-decoration: none;
}
#tipue_search_warning a:hover
{
     color: #555;  
}
#tipue_search_results_count
{
    font: 300 15px/1.7 'Open Sans', sans-serif;
	color: #555;
	text-align: center;
	margin-bottom: 20px;
}
.tipue_search_content_title
{
    font-family: "ZonaPro Bold",sans-serif;
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
}
.tipue_search_content_title a
{
     color: #459bbd;
     text-decoration: none;
}
.tipue_search_content_title a:hover
{
     color: #2d2d2d;
}
.tipue_search_content_url
{
     font: 300 14px/1.9 'Open Sans', sans-serif;
     word-wrap: break-word;
     hyphens: auto;
}
.tipue_search_content_url a
{
     color: #396;
     text-decoration: none;
}
.tipue_search_content_url a:hover
{
     color: #555;   
}
.tipue_search_content_text
{
     font-size: 15px;
     color: #7f7f7f;
     word-wrap: break-word;
     hyphens: auto;
     margin-top: 3px;
     font-family: Lato, sans-serif;
     font-weight: 400;
     padding-bottom: 30px;
     margin-bottom: 30px;
     border-bottom: 1px solid #898989;
}
.tipue_search_content_debug
{
     font: 300 13px/1.6 'Open Sans', sans-serif;
	color: #555;
     margin: 5px 0;
}
.h01
{
     color: #333;
     font-weight: 400;
}

#tipue_search_foot
{
     margin: 51px 0 21px 0;
}
#tipue_search_foot_boxes
{
	padding: 0;
	margin: 0;
    font: 12px 'Open Sans', sans-serif;
    text-align: center;
}
#tipue_search_foot_boxes li
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
	padding: 10px;
	color: #35879e;
	margin-right: 7px;
	text-align: center;
	font-family: "ZonaPro Bold",sans-serif;
    font-size: 18px;
}
#tipue_search_foot_boxes li a
{
	padding: 10px;
	color: #35879e;
	margin-right: 7px;
	text-align: center;
	font-family: "ZonaPro Bold",sans-serif;
    font-size: 18px;
}
#tipue_search_foot_boxes li.current
{
	padding: 10px;
	color: #35879e;
	margin-right: 7px;
	text-align: center;
	font-family: "ZonaPro Bold",sans-serif;
    font-size: 18px;
}
#tipue_search_foot_boxes li a:hover
{
     background: none;
     text-decoration: none;
}
#tipue_search_foot_boxes li .fa {
 	font-size: 30px;
    position: relative;
    top: 3px;
 }

/* spinner */


.tipue_search_spinner
{
     padding: 31px 0;
     width: 50px;
     height: 28px;
}
.tipue_search_spinner > div
{
     background-color: #777;
     height: 100%;
     width: 3px;
     display: inline-block;
     margin-right: 2px;
     -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
     animation: stretchdelay 1.2s infinite ease-in-out;
}
.tipue_search_spinner .tipue_search_rect2
{
     -webkit-animation-delay: -1.1s;
     animation-delay: -1.1s;
}
.tipue_search_spinner .tipue_search_rect3
{
     -webkit-animation-delay: -1.0s;
     animation-delay: -1.0s;
}
@-webkit-keyframes stretchdelay
{
     0%, 40%, 100%
     {
          -webkit-transform: scaleY(0.4)
     }  
     20%
     {
          -webkit-transform: scaleY(1.0)
     }
}
@keyframes stretchdelay
{
     0%, 40%, 100%
     { 
          transform: scaleY(0.4);
          -webkit-transform: scaleY(0.4);
     }
     20%
     { 
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
     }
}






