{% extends "base.twig" %}

{% block content %}
    <div class="full-height resources-view">
        <div class="design-and-construction container cms-feed">
            <h2 class="page-title">{{ title }}</h2>
            <div class="divider-dash"></div>
            <div class="category-section">
                {% for post in posts %}

                    <div class="resource-item clearfix">

                        <h6>{{ post.post_date|date('F j, Y') }}</h6>
                        {% if post.get_field('url') %}
                            <h5>
                                <a target="_blank" href="{{ post.get_field('url') }}">{{ post.title }}</a>
                            </h5>
                        {% else %}
                            <h5>
                                <a href="{{ post.link }}">{{ post.title }}</a>
                            </h5>
                        {% endif %}
                        <h4>{{ post.get_field('subtitle') }}</h4>
                        <p>{{ post.content }}</p>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}