{% extends "base.twig" %}

{% block content %}
    <div class="newsletter-issue-header slim">

        <div class="container">
            <div class="col-sm-6">
                <span class="issue-tophead">Newsletters</span>
                <h2 class="page-title">{{title}}</h2>
            </div>
            <div class="col-sm-6 text-right">
                <span class="issue-subhead">WaterFix Update</span>
            </div>
        </div>
    </div>
    {% if term_page.issue_intro %}
        <div class="issue-intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {{term_page.issue_intro}}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="newsletter-view">
        <div class="design-and-construction container cms-feed">
            <div class="newsletter-section">
                <div class="row row-fix">
                    {% for post in posts %}
                        <div class="newsletter-item col-sm-6 clearfix">
                            <div class="card-back">
                                <img src="{{post.thumbnail.src}}">
                                <div class="card-content">
                                    <h2>{{post.title}}</h2>
                                    {% if post.preview %}
                                        <p>{{post.preview(50)}}</p>
                                    {% else %}
                                        <p>{{post.post_content|excerpt(50)}}</p>
                                    {% endif %}

                                    <a href="{{post.link}}" class="btn-newsletter lg">Read More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="newsletter-single-footer">
        <div class="container">
            <div class="col-md-4">
                <h3>Don't Miss an issue</h3>
                <span class="form-cta">Sign Up for Email Updates</span>
                {{ do_form_static(5) }}
            </div>
            <div class="col-md-4 footer-list">
                <h3>In This Issue</h3>
                <ul class="newsletter-lists">
                    {% if in_issue %}
                        {% for article in in_issue %}
                            <li>
                                <a href="{{ article.link }}">
                                    {{ article.title }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-4 footer-list">
                <h3>More Newsletters</h3>
                <ul class="newsletter-lists">
                    {% for issue in issues %}
                        <li>
                            <a href="{{site.url}}/issue/{{ issue.slug }}">{{ issue.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}