{% extends "base.twig" %}
{# HOW TO LOOP THROUGH ISSUES AND POSTS#}
{#{% for issue in issues %}#}
{#<h1>{{ issue.issue }}</h1>#}
{#{% for post in issue.posts %}#}
{#{{ post.title }}#}
{#{% endfor %}#}
{#{% endfor %}#}
{% block content %}
    <div class="newsletter-header" style="background-image: url('{{theme.link}}/images/newsletters-header-bg.jpg');">
        <h2 class="page-title">{{ title }}</h2>
        <div class="divider-dash"></div>
    </div>
    <div class="newsletter-view">
        <div class="design-and-construction container cms-feed">

            <div class="newsletter-section col-md-8">
                <div class="row">
                    {% for issue in issues %}
                        <div class="newsletter-item col-sm-6 clearfix">
                            <div class="card-back">
                                <img src="{{ issue.posts[0].thumbnail.src|resize(344.39, 289) }}">
                                <div class="card-content">
                                    <h2>{{ issue.issue }}</h2>
                                    <ul>
                                        {% for post in issue.posts %}
                                            <li>
                                                <a href="{{post.link}}">{{ post.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <a href="{{ issue.issue_link }}" class="btn-newsletter sm">See More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="newsletter-item col-sm-6 clearfix">
                        <div class="card-back">
                            <img src="{{site.url}}/wp-content/themes/ca-water-fix/images/iStock-694292092.jpg">
                            <div class="card-content">
                                <h2>October 2018 Coming Soon</h2>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="newsletter-signup">
                    <span class="pre-headline">Don't Miss An Issue</span>
                    <h2>Sign Up for Email Updates</h2>
                    {{ do_form_static(5) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}