{% extends "base.twig" %}

{% block content %}

    <div class="full-height resources-view">
        <div class="design-and-construction container cms-feed">
            <h2 class="page-title">{{ (parent) ? parent.name : title }}</h2>
            <div class="divider-dash"></div>
            <div class="text-center resources-intro">
                {{ (parent) ? parent.description : term_page.description }}
            </div>

            {% if children %}
                <div class="resources-filter text-center">
                    <h5>SHOW ME:</h5>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">ALL<span class="fa fa-caret-down"></span></button>
                        <ul class="dropdown-menu">
                            {% for child in children %}
                                <li>
                                    <a href="{{ site.url }}/resources/{{ child.link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if siblingList %}
                <div class="resources-filter text-center">
                    <h5>SHOW ME:</h5>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">{{ title }}
                            <span class="fa fa-caret-down"></span></button>
                        <ul class="dropdown-menu">
                            {% for item in siblingList %}
                                {% if item.name == title %}
                                    <li>
                                        <a href="{{ site.url }}/resources/{{ parent.slug }}">ALL</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% for item in siblingList %}
                                <li>
                                    <a href="{{ site.url }}/resources/{{ item.link }}">{{ item.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if children %}
                {% for child in children %}
                    <h5 class="cms-section-header">{{ child.title }}</h5>
                    <div class="category-section">
                        {% for post in child.posts %}

                            <div class="resource-item clearfix">
                                {% if child.title != 'Media Kit' %}
                                    <h6>{{ post.post_date|date('F j, Y') }}</h6>
                                {% endif %}
                                {% if post.get_field('url') %}
                                    <h5>
                                        <a target="_blank" href="{{ post.get_field('url') }}">{{ post.title }}</a>
                                    </h5>
                                {% else %}
                                    <h5>
                                        <a href="{{ post.link }}">{{ post.title }}</a>
                                    </h5>
                                {% endif %}

                                <h4>{{ post.get_field('subtitle') }}</h4>
                                <p>{{ post.content }}</p>
                            </div>

                        {% endfor %}

                        {% if child.count > 3 %}
                            <div class="text-center">
                                <a class="btn btn-default btn-outline" role="button" href="{{ site.url }}/resources/{{ child.link }}">VIEW MORE
                                    {{ child.title }}</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            {% else %}
                {% if parent %}
                    <h5 class="cms-section-header">{{ title }}</h5>
                {% endif %}
                <div class="category-section">
                    {% for post in posts %}

                        <div class="resource-item clearfix">
                            {% if title != 'Media Kit' %}
                                <h6>{{ post.post_date|date('F j, Y') }}</h6>
                            {% endif %}
                            {% if post.get_field('url') %}
                                <h5>
                                    <a target="_blank" href="{{ post.get_field('url') }}">{{ post.title }}</a>
                                </h5>
                            {% else %}
                                <h5>
                                    <a href="{{ post.link }}">{{ post.title }}</a>
                                </h5>
                            {% endif %}

                            <h4>{{ post.get_field('subtitle') }}</h4>
                            <p>{{ post.content }}</p>
                        </div>

                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}