{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}} inner-page" data-template="base.twig">

<header class="header">
    {% block header %}

        <nav class="nav navbar navbar-fixed-top top-nav-collapse" role="navigation" {% if event_closed %} style="padding-top: 0" {% endif %}>
            {% if event_closed %}
                <div class="container-fluid green-bar">
                    {{ notification_bar_text }}
                </div>
            {% endif %}
            {% if event_closed %}
                <div id="pop">
                    <div class="pop">
                        <div class="pop-top">
                            <div class="close">
                                x
                            </div>
                            <div class="pop-icon">
                                {{ get_icon('construction_man_icon') }}
                            </div>
                        </div>
                        <div class="pop-body">
                            <h2>{{ pop_title }}</h2>
                            <h3>{{ pop_subtitle }}</h3>
                            <p>{{ pop_body }}</p>
                            <a href="{{ get_perm(pop_link) }}" class="button-default">{{ pop_button }}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.url }}">
                        <img src="{{ site.theme.link }}/images/main-logo.svg" class="img-responsive" alt="California Water Fix - Reliable. Clean. Water.">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" data-target="#" id="dc-btn" data-toggle="dropdown" aria-expanded="true" class="__web-inspector-hide-shortcut__">Design &amp; Construction</a>
                            <ul class="dropdown-menu" aria-labelledby="dc-btn">
                                <li>
                                    <a href="{{ site.url }}/design-construction/">Design &amp; Construction</a>
                                </li>
                                <li>
                                    <a href="{{ site.url }}/dc-rfps-rfqs/">Procurement</a>
                                </li>
                                <li>
                                    <a href="{{ site.url }}/dcdca/">DCA</a>
                                </li>
                            </ul>
                        </li>
                        <li class="hide-xs">
                            <a class="page-scroll" href="{{ site.url }}/#problem">Problem</a>
                        </li>
                        <li class="hide-xs">
                            <a class="page-scroll" href="{{ site.url }}/#solution">Solution</a>
                        </li>
                        <li class="hide-xs">
                            <a class="page-scroll" href="{{ site.url }}/#news">News</a>
                        </li>
                        <li class="hide-xs">
                            <a class="page-scroll" href="{{ site.url }}/#connect">Stay Connected</a>
                        </li>
                        <li class="resource-btn">
                            <a href="#" data-target="#" id="resource-btn" data-toggle="dropdown" aria-expanded="true" class="__web-inspector-hide-shortcut__">RESOURCES</a>
                            <ul class="dropdown-menu" aria-labelledby="resource-btn">
                                <li>
                                    <a href="{{ site.url }}/resources/news-archive">NEWS ARCHIVE</a>
                                </li>
                                <li>
                                    <a href="{{ site.url }}/resources/outreach-materials/">OUTREACH MATERIALS</a>
                                </li>
                                <li>
                                    <a href="{{ site.url }}/resources/planning-process/">PLANNING PROCESS</a>
                                </li>
                                <li>
                                    <a href="{{ site.url }}/resources/design-and-construction-enterprise/">DCE</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
</header>

{% block content %}
    Sorry, no content
{% endblock %}

{% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
{% endblock %}
</body>
</html>