{% extends "base.twig" %}

{% block content %}
    <div class="full-height resources-view">
        <div class="construction-hero">
            <div class="container">
                <h2 class="page-title">{{ post.title }}</h2>
                <div class="divider-dash"></div>
                <p>After extensive analysis, review and public comment, WaterFix is moving toward the design and construction of a more modernized water delivery system.</p>
            </div>
            <div class="on-page-nav">
                <div class="container">
                    <div class="page-nav-items">
                        <a href="#schedule" class="page-nav-item">
                            {{ get_icon('schedule_icon') }}
                            <p>Project Schedule</p>
                        </a>
                        <a href="/dc-rfps-rfqs/" class="page-nav-item">
                            {{ get_icon('rfq_icon') }}
                            <p>Procurement</p>
                        </a>
                        <a href="/dcdca" class="page-nav-item">
                            {{ get_icon('employment_icon') }}
                            <p>Delta Conveyance Design and Construction Authority</p>
                        </a>
                        <a href="#videos" class="page-nav-item">
                            {{ get_icon('information_icon') }}
                            <p>About the Project</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="schedule" class="schedule">
            <div class="container">
                <h2>Project Schedule</h2>
                <div class="divider-dash"></div>
                <p>This time-step schedule displays the anticipated time each general task is estimated to take.</p>
                <img src="https://www.californiawaterfix.com/wp-content/uploads/2018/11/CWF_Graphic_OverallSchedule-110518_Final.jpg" alt="">
            </div>
        </div>
        {% if updates | length > 0 %}
            <div id="information" class="informational-links">.
                <div class="container">
                    <h2>Project Status</h2>
                    <div class="divider-dash"></div>
                    <div class="updates">
                        {% for update in updates %}
                            <div class="update">
                                <h3>{{ update.title }}</h3>
                                <p>{{ update.post_content|excerpt(30) }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div id="videos" class="videos">
            <div class="container-fluid text-center">
                <h2>About the Project</h2>
                <div class="divider-dash"></div>
                <div class="video-list">
                    <div class="video">
                        <img src="http://img.youtube.com/vi/CDCrrPRPDTE/maxresdefault.jpg" alt="">
                        <div class="desc">
                            <a href="#" data-toggle="modal" data-target="#vid1">
                                California WaterFix Benefits Animation
                            </a>
                        </div>
                        <div class="modal fade" id="vid1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">California WaterFix Benefits Animation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="vid-container">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/CDCrrPRPDTE?showinfo=0&amp;rel=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video">
                        <img src="http://img.youtube.com/vi/gmjh0I7cz7w/maxresdefault.jpg" alt="">
                        <div class="desc">
                            <a href="#" data-toggle="modal" data-target="#gmjh0I7cz7w">
                                Construction Sequence Sacramento River Intake Facility
                            </a>
                        </div>
                        <div class="modal fade" id="gmjh0I7cz7w" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Construction Sequence Sacramento River Intake Facility</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="vid-container">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/gmjh0I7cz7w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video">
                        <img src="http://img.youtube.com/vi/y0lbmbUs90s/maxresdefault.jpg" alt="">
                        <div class="desc">
                            <a href="#" data-toggle="modal" data-target="#y0lbmbUs90s">
                                Tunnel Construction Overview and General Project Description
                            </a>
                        </div>
                        <div class="modal fade" id="y0lbmbUs90s" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Tunnel Construction Overview and General Project Description</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="vid-container">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/y0lbmbUs90s?showinfo=0&amp;rel=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video">
                        <img src="http://img.youtube.com/vi/phPkFJFVJIE/maxresdefault.jpg" alt="">
                        <div class="desc">
                            <a href="#" data-toggle="modal" data-target="#phPkFJFVJIE">
                                Site Preparation Prior to Start of Tunnel Construction
                            </a>
                        </div>
                        <div class="modal fade" id="phPkFJFVJIE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Site Preparation Prior to Start of Tunnel Construction</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="vid-container">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/phPkFJFVJIE?showinfo=0&amp;rel=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video">
                        <img src="http://img.youtube.com/vi/t3UcKwm28lA/maxresdefault.jpg" alt="">
                        <div class="desc">
                            <a href="#" data-toggle="modal" data-target="#t3UcKwm28lA">
                                Building Shafts and Driving Tunnels
                            </a>
                        </div>
                        <div class="modal fade" id="t3UcKwm28lA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Building Shafts and Driving Tunnels</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="vid-container">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/t3UcKwm28lA?showinfo=0&amp;rel=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}