{% extends "base.twig" %}

{% block content %}
    <div class="full-height resources-view">
        <div class="design-and-construction container cms-feed">
            <h2>DESIGN &amp; CONSTRUCTION ENTERPRISE</h2>
            <div class="divider-dash"></div>

            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>January 15, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10/Draft_Final_DCE_Agreement_Combined.pdf">DESIGN &amp; CONSTRUCTION ENTERPRISE (DCE) AGREEMENT AND EXHIBITS</a></h5>
                    <h4>Tentative DCE Agreement</h4>
                    <p>The California Department of Water Resources (DWR) and a Joint Powers Authority comprised of public water agencies will collaborate in the design and construction of California WaterFix, should the project be permitted by various state and federal regulators and should the public water agencies choose to pursue the project.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>November 18, 2015</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10/brl38_FInal_Design_and_Construction_Enterprise.pdf">DESIGN &amp; CONSTRUCTION ENTERPRISE (DCE)</a></h5>
                    <h4>DCE Information</h4>
                    <p>The DCE was established as a unit within the Department of Water Resources (DWR) to support activities associated with the environmental review, design and, if approved, construction of the BDCP&#39;s Conservation Measure 1 (Alternative 4A) as described in the 2013 Draft Environmental Impact Report/Environmental Impact Statement (DEIR/EIS), now California WaterFix. The mission of this enterprise is limited to this singular focus, and the life span of the enterprise will be limited to the time necessary to complete construction of California WaterFix.</p>
                </div>
            </div>


        </div>
    </div>
{% endblock %}