<footer class="container-fluid no-x-padding text-center">
<div class="container">
    <div class="row">
        <p>CALIFORNIA NATURAL RESOURCES AGENCY | 1416 9TH ST, #1311 | SACRAMENTO, CA 95814</p>
        <p><a href="mailto:info@californiawaterfix.com">CONTACT US</a> | <a href="tel:+19166512996">916-651-2996</a> | <a href="http://baydeltaconservationplan.com/" target="_blank">CALIFORNIAWATERFIX.COM</a></p>
    </div>
    <div class="row">
        <img width="164" height="58" src="{{ site.theme.link }}/images/footer-logo.svg" alt="California WaterFix" title="California WaterFix">
        <img width="123" height="56" src="{{ site.theme.link }}/images/natural-resources-logo.svg" alt="Natural Resources" title="Natural Resources">
    </div>
    <small>
CALIFORNIA WATERFIX | © 2010 - {{year}} ALL RIGHTS RESERVED.
    </small>
</div>
</footer>


<script src="{{ site.theme.link }}/js/bootstrap.min.js"></script>
{% if fn('is_front_page') %}
<script src="{{ site.theme.link }}/js/jquery.easing.min.js"></script>
<script src="{{ site.theme.link }}/js/jquery.bxslider.min.js"></script>
<script src="{{ site.theme.link }}/js/scrolling-nav.js"></script>
{% endif %}
<script src="{{ site.theme.link }}/js/custom.js"></script>

{% if fn('is_front_page') %}
<script>
    $(document).ready(function(){
        $('.bxslider1').bxSlider({
            controls		: true,
            pager			: true,
            auto			: true
        });
        $('.bxslider2').bxSlider({
            controls		: true,
            pager			: true,
            auto			: true
        });
    });
    $('#solution .return-hide').on('click', function(){
        $(this).closest('.solution-details').find('.solution-details-hide').addClass('hide');
    });
    $(window).bind('scroll', function() {
        var navHeight = 2;
        ($(window).scrollTop() > navHeight) ? $('nav').addClass('top-nav-collapse') : $('nav').removeClass('top-nav-collapse');
    });
</script>
{% endif %}
{{function('wp_footer')}}
</body>
</html>