{% extends "base.twig" %}

{% block content %}

    <body class="home-page">
        <div class="se-pre-con">
            <div class="container">
                <img height="80" src="{{ site.theme.link }}/images/main-logo.svg" alt="California WaterFix" title="California WaterFix">
            </div>
            <div class="loader"></div>
        </div>
        <header id="section1" class="container-fluid text-center">
            <div class="container">
                <div class="row fadeIn">
                    <h3>
                        <span>FIXING</span></h3>
                    <h1>CALIFORNIA'S WATER SYSTEM</h1>
                    <h4>SECURING STATE WATER SUPPLIES</h4>
                    <a class="btn btn-outline bounce page-scroll" href="#problem">FIND OUT MORE</a>
                    <br>
                    <br>
                    <a class="page-scroll" href="#problem">
                        <span class="glyphicon glyphicon-chevron-down bounce" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div id="learn-more-stop"></div>
        </header>

        <section id="problem" class="container-fluid text-center">
            <div class="container">
                <div class="row">
                    <h2>THE PROBLEM</h2>
                    <h4>California’s primary clean water supply that 25 million people depend on is out of date, unreliable and inefficient</h4>
                    <div class="divider-dash"></div>
                    <div class="equal-height">
                        <div class="col-md-3 animate-in1">
                            <div class="light-blue-box wow zoomIn">
                                <h3 class="yellow-number ng-binding">1</h3>
                                <h2 style="text-transform: uppercase;">Our water system is out of date and our primarywater supply is at risk</h2>
                                <p>California’s largest supply of clean water is dependent on 50-year-old levees. Earthquakes, floods and rising sea levels could cause these levees to fail, putting our fresh water supply at risk from saltwater contamination.</p>
                            </div>
                        </div>
                        <div class="col-md-3 animate-in1">
                            <div class="light-blue-box wow zoomIn">
                                <h3 class="yellow-number ng-binding">2</h3>
                                <h2 style="text-transform: uppercase;">We are wasting water</h2>
                                <p>The current system is inefficient and cannot adequately capture and store water when it’s available. We are leaving behind fresh water that could be used by farms, businesses and communities.</p>
                            </div>
                        </div>
                        <div class="col-md-3 animate-in1">
                            <div class="light-blue-box wow zoomIn">
                                <h3 class="yellow-number ng-binding">3</h3>
                                <h2 style="text-transform: uppercase;">The cost of doing nothing is too great</h2>
                                <p>Without an update to our water infrastructure, the environment and the state’s economy are at risk. We face serious potential for disruption to our water supplies causing job loss, higher food and water prices, and significant species decline.</p>
                            </div>
                        </div>
                        <div class="col-md-3 animate-in1">
                            <div class="light-blue-box wow zoomIn">
                                <h3 class="yellow-number ng-binding">4</h3>
                                <h2 style="text-transform: uppercase;">Our environment is suffering</h2>
                                <p>The current pumps are extremely powerful, causing harmful reverse flows, trapping endangered fish and pulling them toward predators. We can’t let endangered species go extinct.</p>
                            </div>
                        </div>
                    </div>
                    <h4>We need a real solution that provides reliable, clean and safe water to California businesses, farms and residents.</h4>
                </div>
            </div>
        </section>

        <div class="container-fluid no-x-padding text-center">
            <ul class="bxslider1">
                <li>
                    <div class="slider-cover"></div>
                    <img src="{{ site.theme.link }}/images/banner/slide1-small.jpg" class="hidden-sm hidden-md hidden-lg">
                    <img src="{{ site.theme.link }}/images/banner/slide1.jpg" class="hidden-xs">
                    <div class="slider-caption">
                        <h5>FARMING</h5>
                        <p>California is positioned as the agricultural powerhouse of the United States – leading all other states in farm income. A fix to our water delivery system would save hundreds of thousands of acres of farmland, preserve nearly 12, 000 farm jobs, and maintain reasonable food prices.</p>
                    </div>
                </li>
                <li>
                    <div class="slider-cover"></div>
                    <img src="{{ site.theme.link }}/images/banner/iStock_000016846265Small.jpg" class="hidden-sm hidden-md hidden-lg">
                    <img src="{{ site.theme.link }}/images/banner/iStock_000016846265Large.jpg" class="hidden-xs">
                    <div class="slider-caption">
                        <h5>ECONOMIC STABILITY AND GROWTH</h5>
                        <p>California cities that receive water from the Delta produce hundreds of billions of dollars worth of goods and services each year. A functioning water delivery system – one that can withstand the impacts of climate change and earthquakes – is critical to business growth and job creation.</p>
                    </div>
                </li>
                <li>
                    <div class="slider-cover"></div>
                    <img src="{{ site.theme.link }}/images/banner/boating-fishing-small.jpg" class="hidden-sm hidden-md hidden-lg">
                    <img src="{{ site.theme.link }}/images/banner/boating-fishing.jpg" class="hidden-xs">
                    <div class="slider-caption">
                        <h5>RECREATION</h5>
                        <p>Boating, fishing, hiking, and bird watching are sustained by a healthy environment. California WaterFix will help sustain the Delta as a recreational hub.</p>
                    </div>
                </li>
                <li>
                    <div class="slider-cover"></div>
                    <img src="{{ site.theme.link }}/images/banner/sandhill-cranes-small.jpg" class="hidden-sm hidden-md hidden-lg">
                    <img src="{{ site.theme.link }}/images/banner/sandhill-cranes.jpg" class="hidden-xs">
                    <div class="slider-caption">
                        <h5>HEALTHY ENVIRONMENT</h5>
                        <p>By fixing reverse flows, ensuring sufficient river flows for native fish species, and restoring important habitat, California WaterFix will enhance survival and recovery of delta smelt, salmon, and dozens of other aquatic and terrestrial species.</p>
                    </div>
                </li>
                <li>
                    <div class="slider-cover"></div>
                    <img src="{{ site.theme.link }}/images/banner/iStock_000004328999Small.jpg" class="hidden-sm hidden-md hidden-lg">
                    <img src="{{ site.theme.link }}/images/banner/iStock_000004328999Large.jpg" class="hidden-xs">
                    <div class="slider-caption">
                        <h5>JOB CREATION</h5>
                        <p>California WaterFix will create 118, 772 new construction jobs and $7 billion in employee compensation. The result of an updated and reliable water delivery system will protect 980, 722 statewide jobs.</p>
                    </div>
                </li>
            </ul>
        </div>

        <section id="solution" class="container-fluid text-center">
            <div class="container">
                <div class="row">
                    <h2>A STATE-OF-THE-ART SOLUTION</h2>
                    <div class="divider-dash"></div>
                    <h5 style="text-transform: uppercase;">Science, Technology and Innovation</h5>
                    <p>WaterFix is a science-driven upgrade to our aging water system. It will provide clean, reliable water while protecting our environment. WaterFix covers five main areas:</p>
                    <div class="icon-container clearfix text-center">
                        <div class="icon-column col-sm-2">
                            <img src="{{ site.theme.link }}/images/solution-water-security-icon.svg">
                            <h5>WATER SECURITY</h5>
                        </div>
                        <div class="icon-column col-sm-2">
                            <img src="{{ site.theme.link }}/images/solution-environmental-protection-icon.svg">
                            <h5>ENVIRONMENTAL PROTECTION</h5>
                        </div>
                        <div class="icon-column col-sm-2">
                            <img src="{{ site.theme.link }}/images/solution-seismic-safety-icon.svg">
                            <h5>REDUCED RISK FROM EARTHQUAKES AND CLIMATE CHANGE</h5>
                        </div>
                        <div class="icon-column col-sm-2">
                            <img src="{{ site.theme.link }}/images/solution-climate-change-icon.svg">
                            <h5>SYSTEM UPGRADES AND NEW TECHNOLOGY</h5>
                        </div>
                        <div class="icon-column col-sm-2">
                            <img src="{{ site.theme.link }}/images/solution-affordability-icon.svg">
                            <h5>INCREASED EFFICIENCY</h5>
                        </div>
                    </div>
                    <p>WaterFix is supported by engineers, scientists, water experts, California businesses and environmental groups. It is the result of an unprecedented level of public review and comment, and was chosen after evaluating thousands of alternatives because it is an economically smart solution to our state’s water problem.</p>
                    <div class="solution-details">
                        <div class="text-center">
                            <a class="btn btn-default btn-outline solution-details-remove-hide">CLICK HERE FOR MORE DETAILS</a>

                            <div class="solution-details-hide hide">
                                <br>
                                <h5>PROJECT DETAILS</h5>
                                <p>California WaterFix (WaterFix) is a bold, forward-thinking approach to California’s toughest water problems. It will modernize our aging water delivery system and go beyond the status quo to protect sensitive fish species. Key components include:</p>
                                <div class="row equal-height">
                                    <div class="col-md-4">
                                        <div class="details-icon">
                                            <img width="175" height="195" alt="Protect our state’s water supplies from climate change through water system upgrades" title="Protect our state’s water supplies from climate change through water system upgrades" src="{{ site.theme.link }}/images/solution-details-protect-water-icon.svg">
                                            <p>Protect our state’s water supplies from climate change through water system upgrades</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="details-icon">
                                            <img width="175" height="195" alt="Improve river flows for threatened fish species" title="Improve river flows for threatened fish species" src="{{ site.theme.link }}/images/solution-details-river-flows-icon.svg">
                                            <p>Improve river flows for threatened fish species</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="details-icon">
                                            <img width="175" height="195" alt="Ecosystem restoration and protection" title="Ecosystem restoration and protection" src="{{ site.theme.link }}/images/solution-details-restoration-icon.svg">
                                            <p>Ecosystem restoration and protection</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="details-graphic">
                                    <div class="numbered-box">
                                        <div class="box-header">
                                            <div>1</div>
                                        </div>
                                        <h6>WATER DELIVERY UPGRADE</h6>
                                        <div class="clearfix">
                                            <div class="col-md-4 pull-left">
                                                <img width="275" height="250" alt="2 tunnels up to 150’ below ground designed to protect California’s water supplies" title="2 tunnels up to 150’ below ground designed to protect California’s water supplies" src="{{ site.theme.link }}/images/solution-details-tunnels-icon.svg">
                                                <p>2 tunnels up to 150’ below ground designed to protect California’s water supplies</p>
                                            </div>
                                            <div class="col-md-4 pull-left">
                                                <img width="275" height="250" alt="3 new intakes, each with 3,000 cubic-feet per second (cfs) capacity and an average annual yield of 4.9 million acre-feet" title="3 new intakes, each with 3,000 cubic-feet per second (cfs) capacity and an average annual yield of 4.9 million acre-feet" src="{{ site.theme.link }}/images/solution-details-intakes-icon.svg">
                                                <p>3 new intakes, each with 3,000 cubic-feet per second (cfs) capacity and an average annual yield of 4.9 million acre-feet</p>
                                            </div>
                                            <div class="col-md-4 pull-left">
                                                <img width="275" height="250" alt="Protection against water supply disruption from failure of aging levees due to sea-level rise, earthquakes and flood events" title="Protection against water supply disruption from failure of aging levees due to sea-level rise, earthquakes and flood events" src="{{ site.theme.link }}/images/solution-details-water-quality-72.svg">
                                                <p>Protection against water supply disruption from failure of aging levees due to sea-level rise, earthquakes and flood events</p>
                                            </div>
                                        </div>
                                        <a href="docs/BDCP_FS_Operations.pdf" target="_blank" class="btn btn-outline ng-binding operations">OPERATIONS</a>
                                    </div>
                                    <div class="numbered-box">
                                        <div class="box-header">
                                            <div>2</div>
                                        </div>
                                        <h6>IMPROVED RIVER FLOWS</h6>
                                        <div class="clearfix">
                                            <div class="col-md-4 pull-left">
                                                <img width="240" height="240" alt="Reinstate a more natural direction of river flows in the South Delta by 46-160 percent" title="Reinstate a more natural direction of river flows in the South Delta by 46-160 percent" src="{{ site.theme.link }}/images/solution-details-reverse-flows-icon.svg">
                                                <p>Reinstate a more natural direction of river flows in the South Delta</p>
                                            </div>
                                            <div class="col-md-4 pull-left">
                                                <img width="240" height="240" alt="New criteria to protect spring outflow to San Francisco Bay" title="New criteria to protect spring outflow to San Francisco Bay" src="{{ site.theme.link }}/images/solution-details-outflows-icon.svg">
                                                <p>New criteria to protect spring outflow to San Francisco Bay</p>
                                            </div>
                                            <div class="col-md-4 pull-left">
                                                <img width="240" height="240" alt="Criteria to protect Sacramento River flows and fish" title="Criteria to protect Sacramento River flows and fish" src="{{ site.theme.link }}/images/solution-details-operations-icon.svg">
                                                <p>Criteria to protect Sacramento River flows and fish</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="numbered-box">
                                        <div class="box-header">
                                            <div>3</div>
                                        </div>
                                        <h6>ENVIRONMENTAL ENHANCEMENTS</h6>
                                        <p class="zero-sixty-padding">
                                            Based on ongoing review of potential construction and operational impacts, mitigation for California WaterFix construction and operation will include about 2,300 acres of habitat restoration and up to 13,300 acres of habitat protection (e.g. conservation easements). This additional acreage will focus primarily on preserving habitat and wildlife-friendly agriculture in the Delta. DWR and the U.S. Bureau of Reclamation anticipate these revised acreage targets for habitat restoration and protection will be the maximum amount required for mitigation. Final determinations will be based on actual project impacts and consultation with fish and wildlife agencies. All habitat restoration and protection costs for California WaterFix will be paid for exclusively by water agencies benefiting from the project.
                                            <br><br>
                                            Separate from California WaterFix and over the next 5 years, California will pursue more than 30,000 acres of critical Delta restoration under the California EcoRestore program, pursuant to pre-existing regulatory requirements such as the 2008 and 2009 biological opinions and various enhancements to improve the overall health of the Delta ecosystem.
                                            <br><br>
                                            Proposition 1 funds and other state public dollars will be directed exclusively for public benefits unassociated with any regulatory compliance responsibilities.
                                        </p>
                                        <div class="clearfix">
                                            <div class="col-md-3 pull-left">
                                                <img width="190" height="200" alt="Restore tidal and non-tidal wetland habitat to sustain habitat functions for native wildlife, such as the Giant Garter Snake and salmon" title="Restore tidal and non-tidal wetland habitat to sustain habitat functions for native wildlife, such as the Giant Garter Snake and salmon" src="{{ site.theme.link }}/images/solution-details-channel-margin-icon.svg">
                                                <p>Improve habitat conditions along five miles of important juvenile salmon migration routes</p>
                                            </div>
                                            <div class="col-md-3 pull-left">
                                                <img width="190" height="200" alt="Restore tidal and non-tidal wetland habitat to sustain habitat functions for native wildlife, such as the Giant Garter Snake and salmon" title="Restore tidal and non-tidal wetland habitat to sustain habitat functions for native wildlife, such as the Giant Garter Snake and salmon" src="{{ site.theme.link }}/images/solution-details-tidal-icon.svg">
                                                <p>Restore tidal and non-tidal wetland habitat to sustain habitat functions for native wildlife, such as the giant garter snake and salmon</p>
                                            </div>
                                            <div class="col-md-3 pull-left">
                                                <img width="190" height="200" alt="Restore native riparian forest and scrub to support habitat for riverside species and improve linkages for terrestrial and other native species" title="Restore native riparian forest and scrub to support habitat for riverside species and improve linkages for terrestrial and other native species" src="{{ site.theme.link }}/images/solution-details-riparian-icon.svg">
                                                <p>Restore native riparian forest and scrub to support habitat for riverside species and improve linkages for terrestrial and other native species</p>
                                            </div>
                                            <div class="col-md-3 pull-left">
                                                <img width="190" height="200" alt="Improve connectivity among existing patches of grassland and other natural habitats" title="Improve connectivity among existing patches of grassland and other natural habitats" src="{{ site.theme.link }}/images/solution-details-no-tidal-icon.svg">
                                                <p>Improve connectivity among existing patches of grassland and other natural habitats</p>
                                            </div>
                                        </div>
                                        <img class="static-graph" alt="Ecosystem Restoration and Protection" title="Ecosystem Restoration and Protection" src="{{ site.theme.link }}/images/solutions-details-environmental-donut.png">
                                    </div>
                                </div>
                                <div class="affordable-box clearfix">
                                    <div class="affordable-icon col-md-4">
                                        <img width="215" height="135" alt="The cost to fix California’s primary water delivery system is estimated at $14.9 billion – or about $5 a month for urban water users – and will be paid for by public water agencies that rely on the supplies." title="The cost to fix California’s primary water delivery system is estimated at $14.9 billion – or about $5 a month for urban water users – and will be paid for by public water agencies that rely on the supplies." src="{{ site.theme.link }}/images/solution-details-affordable-icon.svg">
                                    </div>
                                    <div class="details-big-text col-md-8">
                                        <p>The cost to fix California’s primary water delivery system is estimated at $14.9 billion - or about $5 a month for urban water users – and will be paid for by public water agencies that rely on the supplies.</p>
                                    </div>
                                </div>
                                <div class="row equal-height last-items" style="padding-left: 15px; padding-right: 15px;">
                                    <div class="col-md-4">
                                        <div class="details-icon">
                                            <img width="265" height="185" alt="An Adaptive Management and Monitoring Program will guide real-time operations of the system." title="An Adaptive Management and Monitoring Program will guide real-time operations of the system." src="{{ site.theme.link }}/images/solution-details-adaptive-big-icon.svg">
                                            <p class="last-text">Use of collaborative science and adaptive management to address uncertainties and make adjustments over time.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="details-icon">
                                            <img width="265" height="185" alt="Our communities — farms, businesses, homes — and economy depend upon reliable, affordable, high quality water supplies." title="Our communities — farms, businesses, homes — and economy depend upon reliable, affordable, high quality water supplies." src="{{ site.theme.link }}/images/solution-details-communities-big-icon.svg">
                                            <p class="last-text">Our communities - farms, businesses, homes - and economy depend upon reliable, affordable, high quality water supplies.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="details-icon">
                                            <img width="265" height="185" alt="The time to act is now. Californians cannot afford a broken and unreliable water delivery system." title="The time to act is now. Californians cannot afford a broken and unreliable water delivery system." src="{{ site.theme.link }}/images/solution-details-act-big-icon.svg">
                                            <p class="last-text">The time to act is now. Californians cannot afford a broken and unreliable water delivery system.</p>
                                        </div>
                                    </div>
                                </div>
                                <a class="page-scroll return-hide" href="#solution">
                                    <div class="circled-carrot">
                                        <span>
                                            <span class="glyphicon glyphicon-chevron-up" style="color: #fff;"></span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="news" class="container-fluid text-center">
            <div class="container">
                <div class="row">
                    <h2>NEWS &amp; INFORMATION</h2>
                    <div class="divider-dash"></div>
                    {% for post in news %}
                        <div class="col-md-4">
                            <div class="light-blue-box">
                                <div class="news-item">
                                    <h6>{{ post.post_date|date('F j, Y') }}
                                        -
                                        {{ post.title }}</h6>
                                    <h2>{{ post.get_field('subtitle') }}</h2>
                                    <p>{{ post.content }}</p>
                                    <div class="cover"></div>
                                </div>
                                <a class="yellow-link read-more-link" target="_blank" href="{{ post.get_field('url') }}">
                                    READ MORE
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="btn btn-default btn-outline black" role="button" href="resources/news-archive/">NEWS ARCHIVE</a>
                <div class="row">
                    <h5>PRESS CONTACT</h5>
                    <p>
                        Lisa Lien-Mager
                        <br>
                        <a href="tel:+19166539402">(916) 653-9402</a>
                        <br>
                        <a href="mailto:Lisa.Lien-Mager@resources.ca.gov">Lisa.Lien-Mager@resources.ca.gov</a>
                    </p>
                </div>
            </div>
        </section>
        <section id="connect" class="container-fluid text-center">
            <div class="container">
                <div class="row">
                    <h2>STAY CONNECTED</h2>
                    <div class="divider-dash"></div>
                    <p>Stay informed on the latest developments, interesting facts and photos, community meetings and information about changes to the project relevant to your community by following us on Facebook, Twitter, and YouTube and signing up to receive our electronic newsletter.</p>
                    <p>See our latest Newsletter
                        <a href="/newsletters/">here</a>.</p>
                </div>
            </div>
            <br>
            <br>
            <div class="row row-2">
                <div class="connect-col">
                    <a href="https://twitter.com/CAWaterFix" class="social-icons twitter-icon" target="_blank">
                        <img width="121" height="118" src="{{ site.theme.link }}/images/twitter-icon.svg" alt="Twitter" title="Twitter">
                        <br>
                        <span class="btn btn-outline">FOLLOW ON TWITTER</span>
                    </a>
                </div>
                <div class="connect-col">
                    <a href="https://www.facebook.com/pages/California-Water-Fix/1580194002250745?fref=ts" class="social-icons facebook-icon" target="_blank">
                        <img width="121" height="118" src="{{ site.theme.link }}/images/facebook-icon.svg" alt="Facebook" title="Facebook">
                        <br>
                        <span class="btn btn-outline">FOLLOW ON FACEBOOK</span>
                    </a>
                </div>
                <div class="connect-col">
                    <a href="https://www.youtube.com/channel/UCwshE4HatFzyTi2X1qG_tDA" class="social-icons youtube-icon" target="_blank">
                        <img width="121" height="118" src="{{ site.theme.link }}/images/youtube-icon.svg" alt="YouTube" title="YouTube">
                        <br>
                        <span class="btn btn-outline">FOLLOW ON YOUTUBE</span>
                    </a>
                </div>
                <div class="connect-col">
                    <div class="social-icons newsletter-icon">
                        <img width="121" height="118" src="{{ site.theme.link }}/images/newsletter-icon.svg" alt="Newsletter" title="Newsletter">
                        <br>
                        <div class="btn btn-default btn-outline" role="button">Newsletter Sign up<span class="glyphicon glyphicon-chevron-down"></span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="expandable">
                    <div class="content">
                        <div class="container">
                            <h5>NEWSLETTER SIGN UP</h5>
                            <div id="mc_embed_signup_scroll">
                                <form action="https://californiawaterfix.us10.list-manage.com/subscribe/post?u=5e371813b4f6783ed8cdddcab&amp;id=5e12338f8e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-md-4 mc-field-group">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                    </span>
                                                    <input type="text" name="NAME" id="name" class="form-control" ng-minlength="5" required="required" aria-required="true">
                                                </div>
                                                <label for="name">NAME (First Last)</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mc-field-group">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-envelope"></span>
                                                    </span>
                                                    <input type="email" name="EMAIL" id="mce-EMAIL" class="form-control" aria-required="true">
                                                    <input type="text" name="subject" id="seeker" class="form-control">
                                                </div>
                                                <label for="email">EMAIL</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mc-field-group">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-building"></span>
                                                    </span>
                                                    <input type="text" name="ORGANIZATION" id="organization" class="form-control">
                                                </div>
                                                <label for="organization">ORGANIZATION / AFFILIATION</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5e371813b4f6783ed8cdddcab_5e12338f8e" tabindex="-1" value=""></div>
                                        <button class="btn btn-outline btn-w-icon pull-right" type="submit">SUBMIT<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid no-x-padding text-center" style="position: relative;">
            <div class="slider-headline">
                <h2>WHAT PEOPLE ARE SAYING</h2>
                <div class="divider-dash"></div>
            </div>
            <ul class="bxslider2">
                <li>
                    <img src="{{ site.theme.link }}/images/banner/jerry-brown.jpg" class="slider-pic">
                    <img src="{{ site.theme.link }}/images/banner/jerry-brown-small.jpg" class="slider-pic-alt">
                    <div class="slider-cover"></div>
                    <div class="slider-caption-alt">
                        <p>"Central to the life of our state is water …We must deal with longstanding infrastructure challenges. We are finally grappling with the long-term sustainability of our water supply."</p>
                        <h5>
                            EDMUND G. BROWN JR., GOVERNOR
                            <br>
                            STATE OF CALIFORNIA
                        </h5>
                    </div>
                </li>
                <li>
                    <img src="{{ site.theme.link }}/images/banner/john-laird.jpg" class="slider-pic">
                    <img src="{{ site.theme.link }}/images/banner/john-laird-small.jpg" class="slider-pic-alt">
                    <div class="slider-cover"></div>
                    <div class="slider-caption-alt">
                        <p>"The State Water Project is a vital asset, and to strand it would be irresponsible. The status quo is not an option. This is about economic vitality. Reliability of water is as important to business in California as almost anything."</p>
                        <h5>
                            JOHN LAIRD, SECRETARY
                            <br>
                            CALIFORNIA NATURAL RESOURCES AGENCY
                        </h5>
                    </div>
                </li>
                <li>
                    <img src="{{ site.theme.link }}/images/banner/mike-connor.jpg" class="slider-pic">
                    <img src="{{ site.theme.link }}/images/banner/mike-connor-small.jpg" class="slider-pic-alt">
                    <div class="slider-cover"></div>
                    <div class="slider-caption-alt">
                        <p>"The status quo is unsustainable from both an environmental and economic perspective."</p>
                        <h5>
                            MICHAEL L. CONNOR, DEPUTY SECRETARY
                            <br>
                            U.S. DEPARTMENT OF INTERIOR
                        </h5>
                    </div>
                </li>
                <li>
                    <img src="{{ site.theme.link }}/images/banner/sally-jewell.jpg" class="slider-pic">
                    <img src="{{ site.theme.link }}/images/banner/sally-jewell-small.jpg" class="slider-pic-alt">
                    <div class="slider-cover"></div>
                    <div class="slider-caption-alt">
                        <p>"I commend Governor Brown and state officials for their response thus far, and I will continue to work closely with the state to ensure a balanced and coordinated approach to providing for the water needs of people, agriculture, businesses, power, and the environment."</p>
                        <h5>
                            SALLY JEWELL, SECRETARY
                            <br>
                            U.S. DEPARTMENT OF INTERIOR
                        </h5>
                    </div>
                </li>
            </ul>
        </div>
    {% endblock %}