<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{ site.language_attributes }}>
    <!--<![endif]-->
    <head>
        <title>California WaterFix</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=yes">
        <meta name="description" content="Securing state water supplies">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Oswald:300,400,700" rel="stylesheet">
        <link href="{{ site.theme.link }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ site.theme.link }}/css/jquery.bxslider.css" rel="stylesheet">
        <link href="{{ site.theme.link }}/css/scrolling-nav.css" rel="stylesheet">

        {{ gform_scripts(2) }}
        {{function('wp_head')}}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                },
                i[r].l = 1 * new Date();
                a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-62460922-1', 'auto');
            ga('send', 'pageview');
        </script>