{% extends "base.twig" %}

{% block content %}
    <div class="full-height resources-view">
        <div class="design-and-construction container cms-feed">
            <h2>NEWS ARCHIVE</h2>
            <div class="divider-dash"></div>

            <div class="category-section">
                <div class="resource-item clearfix" style="border-top: none;">
                    <h6>October 02, 2017</h6>
                    <h5><a target="_blank" href="http://www.sfchronicle.com/opinion/openforum/article/California-is-obligated-to-fix-delta-water-12242253.php">California is obligated to fix delta water delivery system</a></h5>
                    <h4>Secretary Laird Op-ed in the S.F. Chronicle</h4>
                    <p>The Bay Area imports most of its water and relies on the Sacramento-San Joaquin River Delta and its tributaries for about 70 percent of its supply. Those supplies face an uncertain future as a changing climate shrinks the Sierra snowpack and raises sea levels, and a declining ecosystem results in further restrictions - all while the Bay Area&#39;s population and economy continue to grow.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>September 26, 2017</h6>
                    <h5><a target="_blank" href="http://www.bakersfield.com/news/ted-page-our-valley-desperately-needs-california-waterfix/article_a5c48226-a23e-11e7-9a27-4bc3025213bd.html">Ted Page: Our Valley desperately needs California WaterFix</a></h5>
                    <h4>KCWA Board President Op-Ed in the Bakersfield Californian</h4>
                    <p>I am proud to say I was born and raised in Kern County. I&#39;ve lived here all my life. The people that live here with me are the best people I know. They never quit, and they never falter. They are tenacious and they persevere. Our character has served us well, because it is founded on what we know to be true: the decisions we make and the actions we take determine our future.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>September 23, 2017</h6>
                    <h5><a target="_blank" href="http://www.dailynews.com/2017/09/23/between-droughts-and-downpours-is-a-reliable-water-supply-a-given-in-the-san-fernando-valley/">Between droughts and downpours is a reliable water supply a given in the San Fernando Valley?</a></h5>
                    <h4>Los Angeles Daily News</h4>
                    <p>The challenges of ensuring a reliable water supply in a region marked by extreme swings in the weather was the theme of a discussion Friday on water projects in the San Fernando Valley and beyond.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>September 19, 2017</h6>
                    <h5><a target="_blank" href="http://resources.ca.gov/wp-content/uploads/2017/09/Press-Release-Secretary-Laird-Comments-on-WaterFix-Vote-by-Westlands-Water-District.pdf">Secretary Laird Comments on WaterFix Vote by Westlands Water District</a></h5>
                    <h4>CNRA Press Release</h4>
                    <p>SACRAMENTO - California Secretary for Natural Resources John Laird issued the following statement regarding today&#39;s decision by the Westlands Water District to decline participation in the California WaterFix project.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>September 13, 2017</h6>
                    <h5><a target="_blank" href="http://www.sandiegouniontribune.com/opinion/commentary/sd-utbg-california-water-delta-tunnels-20170913-story.html">California's twin tunnels project secures water supply</a></h5>
                    <h4>Secretary Laird Op-ed in the San Diego Union Tribune</h4>
                    <p>Three years ago, I was pleased to join San Diego leaders at a ceremony dedicating the San Vicente Dam Raise, a $416 million project that marked the single largest increase in water storage in San Diego County history. The project and others such as the state-of-the-art desalination facility at&nbsp;<a id="SDCT0001" title="Carlsbad" href="http://www.sandiegouniontribune.com/topic/san-diego-county/carlsbad-SDCT0001-topic.html">Carlsbad</a>&nbsp;are key components of a water portfolio that demonstrates the region’s commitment to long-term water security.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>September 12, 2017</h6>
                    <h5><a target="_blank" href="https://youtu.be/CDCrrPRPDTE">WaterFix: Modernizing California's Water System</a></h5>
                    <h4>Benefits Animation</h4>
                    <p>California&#39;s water delivery system is more than 50 years old and in need of an upgrade. This is especially apparent in wet years, when we get a large amount of storm water, but don&#39;t have the ability to effectively capture, store, and move it for later. Without fixing how we move the water through the Sacramento-San Joaquin Delta (Delta), we will miss opportunities to take big gulps of water in wetter years and save it for use in drier years.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>August 25, 2017</h6>
                    <h5><a target="_blank" href="http://clkrep.lacity.org/onlinedocs/2017/17-0930_rpt_OPA_08-24-2017.pdf">California WaterFix Affordable for Southern California Ratepayers</a></h5>
                    <h4>L.A. OPA/Ratepayer Advocate Report</h4>
                    <p>Recently released report by the City of Los Angeles Office of Public Accountability/Ratepayer Advocate finds that under a wide array of cost and water demand possibilities, California WaterFix is affordable to LA households - average increase of only $1.73/month.&nbsp;</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>August 24, 2017</h6>
                    <h5><a target="_blank" href="https://www.youtube.com/playlist?list=PLX71A87Ld9qgR2JrX0ERU2YfcGrBwqDTM">Building California WaterFix </a></h5>
                    <h4>New Construction Animations</h4>
                    <p>WaterFix is moving toward&nbsp;the design and construction phase to build a more reliable water system for California. The following animations are based on conceptual engineering designs and depict the construction activities associated with building three new intakes and two gravity-fed tunnels that will secure and deliver clean water supplies to 25 million Californians and 3 million acres of farmland.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>August 15, 2017</h6>
                    <h5><a target="_blank" href="https://californiawaterblog.com/2017/08/13/california-waterfix-and-delta-smelt/">California WaterFix and Delta Smelt</a></h5>
                    <h4>California WaterBlog</h4>
                    <p>The delta smelt is on a trajectory towards extinction in the wild. &nbsp;Heading into 2017, the spawning adult population was at an all-time low although this past wet winter has apparently seen a small resurgence.&nbsp; However, increasingly warm summer temperatures in the Delta may dampen any upswing.&nbsp; Given the long-term trajectory of the population and climate predictions for California, maintaining Delta smelt in the Delta for the next 20-30 years is not likely to happen without significant improvements to the habitat.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>July 28, 2017</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//CWF_website_2081b_072817.pdf">INCIDENTAL TAKE PERMIT ISSUED FOR CALIFORNIA WATERFIX</a></h5>
                    <h4>WaterFix Section 2081(b) Permit</h4>
                    <p><p>The California Department of Fish and Wildlife has issued an incidental take permit for the construction and operation of&nbsp;California WaterFix in compliance with Section 2081(b) of the California Endangered Species Act.</p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>July 21, 2017</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//CWF_eBlast_NOD_072117.pdf">DWR CERTIFIES FINAL ENVIRONMENTAL ANALYSIS</a></h5>
                    <h4>WaterFix NOD Signed</h4>
                    <p><p>The Notice of Determination (NOD) for the California WaterFix environmental analysis was signed today, clearing a major&nbsp;milestone toward modernization of the state&#39;s primary water delivery system. With finalization of the NOD and associated&nbsp;decision documents, DWR has approved WaterFix as the proposed project under the California Environmental Quality Act.</p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>June 26, 2017</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//CWF_BiOps_062617_Final.pdf">CALIFORNIA WATERFIX TAKES CRITICAL STEP FORWARD WITH ISSUANCE OF BIOLOGICAL OPINIONS</a></h5>
                    <h4>WaterFix Biological Opinions</h4>
                    <p><p>After extensive consultation with the California Department of Water Resources (DWR) and U.S. Bureau of Reclamation&nbsp;(Reclamation), the National Marine Fisheries Service (NOAA Fisheries) and U.S. Fish and Wildlife Service (USFWS)&nbsp;have released their biological opinions for the proposed construction and operation of California WaterFix. These&nbsp;agencies are responsible for the protection of species listed under the U.S. Endangered Species Act (ESA).</p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>May 03, 2017</h6>
                    <h5><a target="_blank" href="http://www.nbcbayarea.com/investigations/Break-in-CA-Levee-System-Could-Contaminate-Bay-Area-Drinking-Water-Supply-420788484.html?_osource=SocialFlowT">California Levee System Could Contaminate Bay Area Drinking Water Supply</a></h5>
                    <h4>NBC Bay Area Investigative Report on At-Risk Delta Levees</h4>
                    <p>A five year survey released by the California Department of Water Resources reveals half of the levees that guard California cities from a major flood don&#39;t meet modern standards, and if a levee were to break in the wrong place, it could cut off the drinking water supply to the Bay Area for months or even years<br /><br /></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>March 16, 2017</h6>
                    <h5><a target="_blank" href="http://www.valleycenter.com/articles/sierra-water-returns-to-north-county-taps/">Sierra Water returns to North County taps</a></h5>
                    <h4>Op-ed from MWD Special Projects Manager</h4>
                    <p><p>What a difference one year and one wet winter makes.&nbsp;Last year, 100 percent of the imported water needed to run the North County economy came from the Colorado River. These days, not a drop is coming from the Colorado. Instead, all of the imported water coming out of your tap is from Northern California.</p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>February 28, 2017</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//CWF_ProgressReport20173.pdf">CALIFORNIA WATERFIX: SIGNIFICANT PROGRESS AND NEXT STEPS</a></h5>
                    <h4>Updated Progress Report Available</h4>
                    <p>California WaterFix is the state&#39;s plan to upgrade outdated infrastructure in the Sacramento-San Joaquin Delta (Delta) to secure California&#39;s water supplies and improve the Delta&#39;s ecosystem. Over the last ten years the project has made significant progress, with 2016 marking completion of the environmental review documents.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>January 05, 2017</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//CWF_AquaticSciencePeerReview2B_1.2324.171.pdf">AQUATIC SCIENCE PEER REVIEW PHASE 2B</a></h5>
                    <h4>California WaterFix Aquatic Science Peer Review Phase 2B - Jan. 23-24, 2017</h4>
                    <p><p>The purpose of the California WaterFix (WaterFix) Aquatic Science Peer Review Phase 2B is to provide the National Marine Fisheries Service (NMFS) and U.S. Fish and Wildlife Service (FWS) with an independent scientific evaluation of draft sections of the NMFS&#39; and FWS&#39; Biological Opinions (BiOps) on WaterFix for all federal Endangered Species Act-listed aquatic species and their critical habitat.</p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>January 04, 2017</h6>
                    <h5><a target="_blank" href="https://www.doi.gov/pressreleases/secretary-jewell-lays-out-strategy-address-impacts-drought-and-climate-change">Secretary Jewell Lays Out Strategy to Address Impacts of Drought and Climate Change in California</a></h5>
                    <h4>DOI Press Release</h4>
                    <p>WASHINGTON&nbsp;- U.S. Secretary of the Interior Sally Jewell today issued a Secretarial Order&nbsp;directing the Department of the Interior and its bureaus to take timely actions to help address the effects of drought and climate change on California&#39;s water supply and imperiled wildlife.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>December 22, 2016</h6>
                    <h5><a target="_blank" href="http://cert1.mail-west.com/mpOyjcB/myuzjanmc7r/hayw41pOgt/eke0rsr/1pOqvnqpOxs/6vv7odaw4/dgkvfydv?_c=d%7Cze7pzanwmhlzgt%7C14jnqb7ii6sixtq&amp;_ce=148242933">Release of Final Environmental Reports for WaterFix</a></h5>
                    <h4>Governor Brown Statement</h4>
                    <p>SACRAMENTO - Governor Edmund G. Brown Jr. issued the following statement regarding today&#39;s release of final environmental documents for WaterFix, California&#39;s effort to modernize the state&#39;s water infrastructure:</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>December 22, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//FINAL_WaterFixEIREISRelease.pdf">Final Environmental Documents for WaterFix Released</a></h5>
                    <h4>DWR/Reclamation Press Release</h4>
                    <p><p>SACRAMENTO, Calif. - Following hundreds of public meetings and thousands of public comments, California today released the final, refined environmental documents for WaterFix, an essential effort to modernize the State&#39;s water infrastructure.</p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>December 22, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//CWF_FS_FinalEIREIS.pdf">CALIFORNIA WATERFIX: MOVING TOWARD ENVIRONMENTAL REVIEW PROCESS COMPLETION</a></h5>
                    <h4>Final EIR/EIS Fact Sheet</h4>
                    <p>The WaterFix planning process began in 2006, initially proposed as the Bay Delta&nbsp;Conservation Plan (BDCP). State and federal agencies proposed updating the State&nbsp;Water Project (SWP) by adding new points of diversion in the north Sacramento-San&nbsp;Joaquin Delta (Delta).</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>December 22, 2016</h6>
                    <h5><a target="_blank" href="http://www.mwdh2o.com/PDF_NewsRoom/GM Statement on final Cal WaterFix environmental documents.pdf">STATEMENT ON RELEASE OF FINAL CALIFORNIA WATERFIX ENVIRONMENTAL DOCUMENTS</a></h5>
                    <h4>MWD News Release</h4>
                    <p>Jeffrey Kightlinger, general manager of the Metropolitan Water District of Southern California, issues the following statement on today&#39;s release of the final environmental impact report/statement for the ongoing California WaterFix process.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>December 19, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//WF_FEIRS_Post_Card_WEB.pdf">BDCP/CA WaterFix Final EIR/EIS Available on Dec. 22</a></h5>
                    <h4>Final Environmental Documents Available on Thursday</h4>
                    <p><p>The California Department of Water Resources and the U.S. Bureau of Reclamation (Lead Agencies) have completed the Bay Delta Conservation Plan/California WaterFix Final Environmental Impact Report/ Environmental Impact Statement (EIR/ EIS). This document has been prepared in accordance with the California Environmental Quality Act (CEQA) and the National Environmental Policy Act (NEPA) and will be available at www. BayDeltaConservationPlan.com on December 22, 2016.</p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>December 16, 2016</h6>
                    <h5><a target="_blank" href="http://www.sacbee.com/opinion/california-forum/article121161883.html#storylink=cpy">California WaterFix is the 'grand compromise' for the Delta</a></h5>
                    <h4>State Water Contractors GM Op-ed in the Sac Bee</h4>
                    <p>Public water agencies throughout California are looking to spend billions of dollars in the Sacramento-San Joaquin Delta to address a fundamental physical reality: The existing water system in the southern Delta poses an intractable environmental problem. The only solution is to construct a new, sufficiently sized conveyance system to move water supplies.<div style="box-sizing: border-box; background-color: #ffffff; width: 1px; height: 1px; font-size: 10pt; font-family: sans-serif; overflow: hidden"><br />Read more here: http://www.sacbee.com/opinion/california-forum/article121161883.html#storylink=cpy</div></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>December 15, 2016</h6>
                    <h5><a target="_blank" href="http://nebula.wsimg.com/2db944f371693a33c6244ff5508ea894?AccessKeyId=2C708116A178947E6F43&amp;disposition=0&amp;alloworigin=1">Municipal Water Leader Magazine </a></h5>
                    <h4>Articles and Interviews Highlighting Importance of WaterFIx</h4>
                    <p>While working for Commissioner Robert Johnson of the U.S. Bureau of Reclamation, I often heard him compare the storage capacities of the Colorado River with California. &quot;The Colorado River&#39;s flow &quot;is supposed to be 15 million acre-feet,&quot; he would joke. &quot;The good news is, there is 60 million acre-feet of storage in the Colorado River system, so four times the annual flow.&quot; Always a generous man, he would say, &quot;California’s watershed is comparable to the Colorado River; however, there is only enough storage for less than half the annual runoff.&quot;&nbsp;</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>December 09, 2016</h6>
                    <h5><a target="_blank" href="http://www.oc-breeze.com/2016/12/08/93710_mwdoc-directors-urge-support-critical-water-project/">WaterFix Support Resolution Passed </a></h5>
                    <h4>MWDOC Directors urge support for critical water project</h4>
                    <p>Recognizing the importance of the California WaterFix to Southern California&#39;s water reliability, Directors of the Municipal Water District of Orange County (MWDOC) on Thursday unanimously approved a resolution of support for the proposed project.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>December 08, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//DeltaDependencyMap_WaterFixFinal.pdf">Delta Dependency Map</a></h5>
                    <h4>Millions of Californians Rely on Imported Water</h4>
                    <p><p>More than 25 million Californians rely on water that comes
                        from the Sierra Nevada Mountains and then travels through the Sacramento-San
                        Joaquin Delta (Delta). This map provides a glimpse into some of the urban
                        communities that depend on this water.</p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>November 29, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//CWF_AquaticSciencePeerReview2A_12.89.16.pdf">Aquatic Science Peer Review Phase 2A</a></h5>
                    <h4>California WaterFix Aquatic Science Peer Review Phase 2A - Dec. 8-9, 2016</h4>
                    <p><p class="p1">The purpose of the California WaterFix Aquatic Science Peer Review is to provide the National Marine Fisheries Service (NMFS), U.S. Fish and Wildlife Service (USFWS), and California Department of Fish and Wildlife (CDFW) with an independent scientific evaluation of the methods and approaches for developing the joint Biological Opinion requirements and analyses prepared for the CDFW 2081 (b) Incidental Take Permit (ITP) application for the California WaterFix. The Phase 2A review will focus on the latter.&nbsp;</p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>October 31, 2016</h6>
                    <h5><a target="_blank" href="http://www.sandiegouniontribune.com/opinion/commentary/sd-utbg-water-supply-california-20161028-story.html">Unity needed for statewide water solutions</a></h5>
                    <h4>DWR Director Op-Ed in the San Diego Union Tribune</h4>
                    <p>San Diego County&#39;s reliance on imported water is among the highest in California. Despite previous and planned local investments in desalination and recycling, most of this region&#39;s water will continue to come from distant watersheds for decades to come as far as any water planner today can see. In fact, by 2040 the San Diego County Water Authority (SDCWA) estimates 80 percent of their supply will be imported even with water efficiency savings and increased local supplies. Nearly half of that water will come from Metropolitan Water District which gets its supply from the Colorado River and Sierra Nevada</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>October 26, 2016</h6>
                    <h5><a target="_blank" href="http://watersecurityca.com/icymi-ppic-reports-find-ca-waterfix-together-with-ca-ecorestore-is-likely-to-improve-water-supply-reliability/">"CA WaterFix -  Together with CA EcoRestore - is Likely to Improve Water Supply Reliability"</a></h5>
                    <h4>PPIC Report</h4>
                    <p><span>S</span><span>ACRAMENTO -&nbsp;</span>Last week, the Public Policy Institute of California (PPIC) released policy reports focused on water infrastructure and deliveries in California, which highlighted the urgency of securing water deliveries and the Governor&#39;s California WaterFix. The reports were released at their Policy Priorities for California’s Water conference in Sacramento.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>October 17, 2016</h6>
                    <h5><a target="_blank" href="http://www.mercurynews.com/2016/10/16/laird-loma-prieta-memories-should-remind-of-deltas-peril/">Laird: Loma Prieta memories should remind of Delta's peril</a></h5>
                    <h4>CNRA Secretary Laird Op-Ed in SJ Mercury News</h4>
                    <p>Twenty-seven years ago, on Oct. 17, 1989, I was a City Council member going about my normal business in Santa Cruz. I returned home in time for game three of the Giants v A&#39;s World Series. As I settled in, the TV jumped at me. A 6.9 earthquake centered about ten miles away was shaking the region.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>October 07, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//CWF_2081b_10716.pdf">Incidental Take Permit Application for California WaterFix</a></h5>
                    <h4>Section 2081(b) of the California Endangered Species Act</h4>
                    <p>The Department of Water Resources (DWR) has submitted an incidental intake application for California WaterFix to the&nbsp;California Department of Fish and Wildlife (DFW) in compliance with the California Endangered Species Act (CESA). Consistent&nbsp;with the federal Endangered Species Act process where DWR and U.S. Bureau of Reclamation recently submitted the California&nbsp;WaterFix biological assessment addressing incidental take of federally-listed species, DWR has submitted this application to&nbsp;DFW in compliance with Section 2081(b) of CESA to address incidental take of state-listed species for the California WaterFix.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>September 29, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//FIX_eBlast_AdaptiveMgmt_92816_V2.pdf">Adaptive Management Framework</a></h5>
                    <h4>California WaterFix and Current Biological Opinions</h4>
                    <p><p>Adaptive management is a science-based, flexible approach to resource management decision-making. When correctly designed and executed, adaptive management programs provide the ability to make and implement decisions while simultaneously conducting research to reduce the ecological uncertainty of a decision’s outcome. These characteristics facilitate a management regime that is transparent, collaborative, and responsive to changes in scientific understanding.&nbsp;</p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>September 22, 2016</h6>
                    <h5><a target="_blank" href="https://www.newsdeeply.com/water/community/2016/09/22/california-waterfix-protects-ecosystems-and-improves-infrastructure">California WaterFix Protects Ecosystems and Improves Infrastructure</a></h5>
                    <h4>Op-Ed from the Natural Heritage Institute in NewsDeeply</h4>
                    <p>A big infrastructure project could help the beleaguered Sacramento-San Joaquin Delta ecosystem and protect water facilities in the face of rising seas, writes Gerald Meral of the Natural Heritage Institute.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>August 17, 2016</h6>
                    <h5><a target="_blank" href="http://www.mercurynews.com/2016/08/17/mielke-waterfix-provides-solution-to-californias-water-woes/">Mielke: WaterFix provides solution to California's water woes</a></h5>
                    <h4>SVLG Op-Ed in the San Jose Mercury News</h4>
                    <p>Downtown San Jose sank 13 feet between 1910 and 1970 from excessive groundwater pumping. Repairs to sewers, roads, and bridges, plus the construction of levees to protect land below high tide from flooding, cost the area at least $750 million in 2013 dollars.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>August 02, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//FIX_eBlast_BioAssessment_8216_Rev1.pdf">Work on Water Fix Progresses with Release of Biological Assessment</a></h5>
                    <h4>Reclamation and DWR Release Species-by-Species Analysis</h4>
                    <p><p>The California Department of Water Resources (DWR) and U.S.
                        Bureau of Reclamation (Reclamation) have released a revised biological
                        assessment for the California WaterFix to the National Marine Fisheries Service
                        (NMFS) and U.S. Fish and Wildlife Service (USFWS) with a request to begin the
                        formal consultation process under Section 7 of the U.S. Endangered Species Act
                        (ESA). The goal of WaterFix is to balance the needs of California residents
                        with the needs of Delta fish and wildlife. This biological assessment
                        articulates how WaterFix would be operated to meet the needs of endangered
                        species.</p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>July 25, 2016</h6>
                    <h5><a target="_blank" href="http://resources.ca.gov/wp-content/uploads/2016/07/State-Water-Board-Hearings-Opening-PR-FINAL.pdf">State Water Resources Control Board Hearings on WaterFix Begin</a></h5>
                    <h4>CNRA Press Release</h4>
                    <p>SACRAMENTO, Calif. - Tomorrow, the State Water Resources Control Board will begin public hearings on the Department of Water Resources&#39; (DWR) request to add three new points of diversion for California WaterFix. The opening three days of the hearings will likely begin with policy statements from the Natural Resources Agency and U.S. Department of the Interior followed by public comment.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>July 25, 2016</h6>
                    <h5><a target="_blank" href="https://valleywaternews.org/2016/07/25/ca-waterfix-brief-intro/">A BRIEF INTRODUCTION TO CALIFORNIA WATERFIX</a></h5>
                    <h4>SCVWD Blog</h4>
                    <p>The Sacramento-San Joaquin Delta is a special place. It&#39;s where the two longest rivers in the state come together; it&#39;s home to more than 700 plant and animal species, both thriving and endangered, and serves as a stop along the Pacific Flyway bird migration route; its fertile soil supports an important part of our state’s agricultural landscape.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>July 14, 2016</h6>
                    <h5><a target="_blank" href="https://www.newsdeeply.com/water/op-eds/2016/07/14/mark-cowin-planning-for-californias-water-future">Mark Cowin: Planning for California's Water Future</a></h5>
                    <h4>DWR Director Op-Ed in NewsDeeply</h4>
                    <p>WE CANNOT REBUILD&nbsp;California&#39;s water infrastructure from the ground up. All the dams, pumps, aqueducts - and rules and laws - arise from 200 years of human engineering in the Golden State. Our forebears designed these projects for the sole benefit of a few million people, and today we struggle to adapt them to the support of threatened fish and wildlife and 39 million people.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>July 13, 2016</h6>
                    <h5><a target="_blank" href="http://www.sacbee.com/opinion/opn-columns-blogs/dan-morain/article89464542.html">Brown calls on Bruce Babbitt, as time runs short for water fix</a></h5>
                    <h4>Sac Bee: Bruce Babbitt tackles CA WaterFix</h4>
                    <p><p><p style="background:white"><p class="MsoNormal">Working from a bland, windowless office on the 13th floor of the Resources Building, one of California&#39;s newest state employees focuses on the one issue from which all else flows, water.&nbsp; Bruce Babbitt has signed on to help Jerry Brown fix what the governor calls the California WaterFix. They are of a type, Westerners, who understand the precarious balance between being environmental stewards and having millions of people inhabit deserts. And at 78, Babbitt and Brown understand that time is not limitless.</p>

                    <br /></p>
                    </p></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>June 30, 2016</h6>
                    <h5><a target="_blank" href="http://resources.ca.gov/uncategorized/resources-agency-releases-california-waterfix-fast-facts/">Resources Agency Releases California WaterFix Fast Facts</a></h5>
                    <h4>Fast Facts Now Available</h4>
                    <p>SACRAMENTO - California WaterFix is a critical upgrade to 50-year-old infrastructure to protect a major source of clean water for two thirds of the state.&nbsp; Work toward final environmental review documents continues this summer.&nbsp; Through a series of public meetings in late July, the State Water Resources Control Board will&nbsp;<a href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//Release_WaterFixTestimonySWRCB.pdf">review the state’s petition</a>&nbsp;to build new intakes along the Sacramento River.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>June 01, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//Release_WaterFixTestimonySWRCB.pdf">Analysis of California WaterFix Potential Effects Submitted to SWRCB</a></h5>
                    <h4>Evidence and Testimony Available for Water Right Hearing</h4>
                    <p><span style="line-height: 115%">Yesterday, the Department
of Water Resources (DWR) and Bureau of Reclamation submitted testimony to the
State Water Resources Control Board (Water Board) as required for the upcoming
public hearings on a request to add three new points of diversion to the State
Water Project, with coordinated operations for the Central Valley Project, for
California WaterFix.&nbsp;</span></p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>May 10, 2016</h6>
                    <h5><a target="_blank" href="http://www.vcstar.com/opinion/columnists/scott-quady-why-we-need-the-delta-water-tunnels-31667b64-03e5-712a-e053-0100007f3414-378721231.html">Why we need the Delta water tunnels</a></h5>
                    <h4>Calleguas MWD President Op-Ed in Ventura County Star</h4>
                    <p>The Calleguas Municipal Water District Board of Directors was pleased to read the April 10 commentary by John Laird, state secretary for natural resources, on the California WaterFix proposal to build new intakes and tunnels to safeguard and stabilize water deliveries from the northern Sierra and Sacramento Delta.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>May 04, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//CER_FS_BreakingGround_V12.pdf">CALIFORNIA ECORESTORE LAUNCHES CONSTRUCTION OF 7,370 ACRES OF CRITICAL DELTA HABITAT</a></h5>
                    <h4>New California EcoRestore Fact Sheet</h4>
                    <p>After one year in operation, California EcoRestore has made considerable progress and expects to complete or have under construction over 7,370 acres of tidal and floodplain restoration, 2,680 feet of riparian habitat and 3 fish passage projects by 2017. This accelerated construction schedule is significantly more than all restoration completed in the Delta over the past 20 years—and is a testament to the tangible progress that can be brought to bear through focused collaboration among state, local and federal partners.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>April 21, 2016</h6>
                    <h5><a target="_blank" href="http://www.sfchronicle.com/opinion/openforum/article/California-lifestyle-relies-on-delta-water-7294746.php">CALIFORNIA LIFESTYLE RELIES ON DELTA WATER</a></h5>
                    <h4>CNRA Secretary Laird Op-Ed in SF Chronicle</h4>
                    <p>State Sen. Lois Wolk, D-Davis, earlier this month called for a &quot;Plan B&quot; to replace WaterFix, the state&#39;s proposal to upgrade 50-year-old infrastructure to deliver water in a more environmentally protective manner. Wolk suggests reducing water demand through efficiency and conservation, metering all uses of water, better managing groundwater and modernizing levees. On these things, we agree. The state is doing all of that, and more.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>March 25, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//cwf_aquatic_science_peer_review__meeting_notice.pdf">AQUATIC SCIENCE PEER REVIEW</a></h5>
                    <h4>California WaterFix Aquatic Science Peer Review</h4>
                    <p>The purpose of the California WaterFix Aquatic Science Peer Review is to provide the National Marine Fisheries Service (NMFS), U.S. Fish and Wildlife Service (USFWS), and California Department of Fish and Wildlife (CDFW) with an independent scientific evaluation of the methods and approaches for developing the joint Biological Opinion requirements and analyses prepared for the CDFW 2081 (b) Incidental Take Permit application for the California WaterFix.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>February 03, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//lveo5_BA_ModelingData.pdf">WORKING DRAFT BIOLOGICAL ASSESSMENT MODELING DATA</a></h5>
                    <h4>Working Draft Biological Assessment Modeling Data Now Available</h4>
                    <p>The CALSIM and DSM2 modeling data used in development of the working draft biological assessment for the California WaterFix is now available upon request. CALSIM is a model used to simulate State Water Project (SWP)/Central Valley Project (CVP) operations. DSM2 is an extension of CALSIM which is used to model the historical hydrodynamics and electrical conductivity for the Delta and portions of the San Joaquin River.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>January 15, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//vvmhg_FIX_eBlast_115161.pdf">DCE TENTATIVE AGREEMENT NOW AVAILABLE</a></h5>
                    <h4>Design &amp; Construction Enterprise Tentative Agreement</h4>
                    <p>The California Department of Water Resources (DWR) and a Joint Powers Authority comprised of public water agencies will collaborate in the design and construction of California WaterFix, should the project be permitted by various state and federal regulators and should the public water agencies choose to pursue the project.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>January 15, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//rkv8k_FIX_eBlast_BioAssessment_115161.pdf">U.S. BUREAU OF RECLAMATION AND DWR RELEASE DRAFT SPECIES-BY-SPECIES ANALYSIS</a></h5>
                    <h4>January 15, 2016 - CALIFORNIA WATERFIX DRAFT BIOLOGICAL ASSESSMENT RELEASED</h4>
                    <p>On January 15, 2016, the California Department of Water Resources (DWR) and U.S. Bureau of Reclamation (Reclamation) released a working draft of the biological assessment for the California WaterFix.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>January 11, 2016</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//c7c9s_FIX_eBlast_111161.pdf">NEW FACT SHEETS COVER A VARIETY OF IMPORTANT TOPICS</a></h5>
                    <h4>New Fact Sheets Detail Progress, Purpose &amp; Project Improvements</h4>
                    <p>Over the last year, the California WaterFix made considerable progress in securing California’s water supplies and improving the Sacramento-San Joaquin Delta’s (Delta) ecosystem. In response to comments made on the draft environmental documents, and facing various uncertainties regarding future Delta conditions, the project shifted from a habitat conservation plan to a focused upgrade of the Delta’s primary water conveyance system. The project also underwent additional design changes resulting in reduced impacts on Delta communities and increased efficiency. Project changes were described and analyzed in a recirculated/supplemental environmental document released to the public for review and comment. The following graphic timeline chronicles the evolution of California WaterFix over the last year and includes a snapshot of major milestones:</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>October 30, 2015</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//y75t4_FIX_FS_WhatHappensNext_V14.pdf">CALIFORNIA WATERFIX STATE AND FEDERAL PLANNING AND PERMITTING PROCESS</a></h5>
                    <h4>What Happens Next Fact Sheet</h4>
                    <p>Large infrastructure projects like California WaterFix require multiple and often concurrent regulatory review and permitting processes to obtain all of the necessary approvals before moving forward. Below is an overview of the regulatory and permitting actions associated with California WaterFix.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>October 29, 2015</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//alngp_FIX_eBlast_103015_31.pdf">STATEMENT ON CLOSE OF RDEIR/SDEIS PUBLIC COMMENT PERIOD</a></h5>
                    <h4>DWR &amp; USBR Statement on Close of Public Comment Period</h4>
                    <p>Today ends the public comment period on the updated draft environmental documents that analyze the potential effects of changing the primary water diversion system in the Sacramento-San Joaquin Delta. The alternatives analyzed include California WaterFix, the project preferred by the administration of Governor Edmund G. Brown to achieve the co-equal goals of enhancing the Delta ecosystem and improving water supply reliability.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>September 15, 2015</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//ykown_Response_Letter_ISB_092115.pdf">DWR STATEMENT REGARDING DELTA INDEPENDENT SCIENCE BOARD COMMENTS ON RDEIR/SDEIS</a></h5>
                    <h4>DISB RDEIR/SDEIS Comments - DWR Statement</h4>
                    <p>Statement from Cassandra Enos-Nobriga, program manager for the California Department of Water Resources, about the Delta Independent Science Board comments on the Partially Recirculated Draft Environmental Impact Report/Supplemental Draft Environmental Impact Statement (RDEIR/SDEIS) for California WaterFix:</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>September 09, 2015</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//cduqu_FIX_eBlast_99151.pdf">404 PERMIT APPLICATION SUBMITTED</a></h5>
                    <h4>WR Submits 404 Permit Application to The Corps</h4>
                    <p>On August 26, 2015, the California Department of Water Resources (DWR) submitted a permit application to the U.S. Army Corps of Engineers (Corps) for California WaterFix, a project that aims to modernize the way water is diverted from the Sacramento-San Joaquin Delta by the State Water Project and Central Valley Project. This milestone brings additional opportunities for public participation in regulatory processes, including public comment.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>August 27, 2015</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//u69zb_FIX_eBlast_827151.pdf">CHANGE PETITION SUBMITTED</a></h5>
                    <h4>DWR and USBR Submit Change Petition to SWRCB</h4>
                    <p>Today the Department of Water Resources submitted a permit application in furtherance of the California WaterFix. This is an important milestone for the project that brings with it additional opportunities for public participation in important regulatory processes related to the federal Clean Water Act and California water rights, including submission of comment and testimony.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>July 22, 2015</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//150722Public_Comment_Period_on_Revised_Delta_Conveyance_Document.pdf">COMMENT PERIOD EXTENDED</a></h5>
                    <h4>RDEIR/SDEIS 60-Day Public Comment Period Extension</h4>
                    <p>JULY 22, 2015 | The California Department of Water Resources and the Federal Bureau of Reclamation announced today a 60-day extension of the public comment period for the joint Partially Recirculated Draft Environmental Impact Report (RDEIR)/Supplemental Draft Environmental Impact Statement (SDEIS) on the Bay Delta Conservation Plan/California WaterFix.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>July 08, 2015</h6>
                    <h5><a target="_blank" href="http://dev-california-waterfix.pantheonsite.io/wp-content/uploads/2017/10//bpkz5_FIX_eBlast_79151.pdf">BDCP/CA WATERFIX RDEIR/SDEIS</a></h5>
                    <h4>Recirculated Environmental Documents</h4>
                    <p>The updated environmental analysis for the BDCP/California WaterFix is now available for public review. The official comment period begins on Friday, July 10th.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>June 22, 2015</h6>
                    <h5><a target="_blank" href="http://resources.ca.gov/ecorestore/">RESTORING THE SACRAMENTO-SAN JOAQUIN DELTA ECOSYSTEM</a></h5>
                    <h4>California EcoRestore Webpage</h4>
                    <p>Link to the California EcoRestore page on the California Natural Resources Agency website.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>April 30, 2015</h6>
                    <h5><a target="_blank" href="https://drive.google.com/folderview?id=0B-d6a6yEixkEfkh0UFpFT3ljajRITl9McTRyUXh5NGJ5d2R4V1FkTUhKWmJvS2VXdjkySTA&amp;usp=sharing">PRESS CONFERENCE</a></h5>
                    <h4>California WaterFix &amp; EcoRestore Press Conference Video</h4>
                    <p>4-30-2015 OAKLAND – After months of public comment and exhaustive review, Governor Edmund G. Brown Jr. today joined top federal officials to unveil plans that accelerate restoration of the Delta&#39;s ecosystem and fix the state&#39;s aging water infrastructure.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>April 29, 2015</h6>
                    <h5><a target="_blank" href="https://www.gov.ca.gov/news.php?id=18940">PRESS RELEASE</a></h5>
                    <h4>Office of the Governor - California WaterFix &amp; EcoRestore Press Release</h4>
                    <p>After months of public comment and exhaustive review, Governor Edmund G. Brown Jr. today joined top federal officials to unveil plans that accelerate restoration of the Delta&#39;s ecosystem and fix the state&#39;s aging water infrastructure.</p>
                </div>
            </div>
            <div class="category-section">
                <div class="resource-item clearfix">
                    <h6>April 29, 2015</h6>
                    <h5><a target="_blank" href="http://resources.ca.gov/california_water_action_plan/">CALIFORNIA WATER ACTION PLAN</a></h5>
                    <h4>Statewide Water Supply Efforts</h4>
                    <p>Led by the California Natural Resources Agency (CNRA), the California Environmental Protection Agency (CalEPA), and California Department of Food and Agriculture (CDFA), the effort to develop and implement the California Water Action Plan is collaborative and inclusive, involving a broad array of affected state entities, federal, local and tribal partners, and the public.</p>
                </div>
            </div>


        </div>
    </div>

{% endblock %}