{% extends "base.twig" %}

{% block content %}

    <div class="full-height resources-view">
        <div class="hero text-center text-capitalize">
            <div class="container">
                <h1 class="page-title">{{post.title}}</h1>
            </div>
        </div>
        <div class="main">
            <div class="container">

                {{post.content}}

                {{post.expanded_content}}

            </div>
        </div>
    </div>

{% endblock %}