{% extends "base.twig" %}

{% block content %}

        <div class="hero text-center text-capitalize">
            <div class="container">
                <h1 class="page-title">{{post.title}}</h1>
                <p class="sub-title">{{ post.get_field('subtitle') }}</p>
            </div>
        </div>
        <div class="main page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 white-bg">
                        {{post.content}}
                    </div>

                    <div class="col-md-5 alt-bg">
                        <p>{{ post.get_field('form_text') }}</p>
                        {% set form = post.get_field('forms') %}
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}