{% extends "base.twig" %}

{% block content %}

        <div class="hero text-center text-capitalize">
            <div class="container">
                <h1 class="page-title">{{post.title}}</h1>
                <div class="divider-dash"></div>
                <p>{{ post.get_field('subtitle') }}</p>
            </div>
        </div>
        <div class="main page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 white-bg">
                        {{post.content}}
                    </div>

                    <div class="col-md-5 alt-bg">
                        {{ post.get_field('2_col')}}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}