{% extends "base.twig" %}

{% block content %}
<div class="full-height resources-view">
    <div class="container">
		<h2 class="page-title">{{post.title}}</h2>
		<div class="divider-dash"></div>
		{{post.content}}
	</div>
</div>		
{% endblock %}