{% extends "base.twig" %}

{% block content %}

        <div class="hero text-center text-capitalize">
            <div class="container">
                <h1 class="page-title">{{post.title}}</h1>
            </div>
        </div>
        <div style="">
            {{post.content}}
        </div>

{% endblock %}