{% extends "base.twig" %}

{% block content %}

	<div class="full-height resources-view">
		<div class="design-and-construction container cms-feed">
			<h2 class="page-title">{{ title }}</h2>
			<div class="divider-dash"></div>

			<div class="resources-filter text-center">
				<h5>SHOW ME:</h5>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">{{ (all) ? all : 'ALL' }}<span class="fa fa-caret-down"></span></button>
					<ul class="dropdown-menu">
						{% if all != NULL %}
							<li><a href="{{ site.url }}/resources/planning-process/">ALL</a></li>
						{% endif %}
						<li><a href="{{ site.url }}/resources/planning-process/eir-eis">EIR/EIS</a></li>
						<li><a href="{{ site.url }}/resources/planning-process/validation">Validation</a></li>
						<li><a href="{{ site.url }}/resources/planning-process/permits">Permits</a></li>
					</ul>
				</div>
			</div>
			{% if eir or all == 'eir-eis' %}
			<div class="category-section">
				<h5 class="cms-section-header">EIR/EIS</h5>
				<p>All California WaterFix environmental review documentation released prior to 2018 can be accessed <a href="http://baydeltaconservationplan.com/Home.aspx">here</a>.</p>
			{% for post in eir %}
				<div class="resource-item clearfix">
					<h6>{{ post.post_date|date('F j, Y') }}</h6>
                    {% if post.get_field('url') %}
						<h5><a target="_blank" href="{{ post.get_field('url') }}">{{ post.title }}</a></h5>
                    {% else %}
						<h5><a href="{{ post.link }}">{{ post.title }}</a></h5>
                    {% endif %}
					<h4>{{ post.get_field('subtitle') }}</h4>
					<p>{{ post.content }}</p>
				</div>
			{% endfor %}
                {% if eir|length == 3 %}
					<div class="text-center">
						<a class="btn btn-default btn-outline" role="button" href="{{ site.url }}/resources/planning-process/eir-eis">VIEW MORE EIR/EIS</a>
					</div>
				{% endif %}
			</div>
			{% endif %}

			{% if validation %}
			<div class="category-section">
				<h5>Validation</h5>
                {% for post in validation %}
					<div class="resource-item clearfix">

						<h6>{{ post.post_date|date('F j, Y') }}</h6>

                        {% if post.get_field('url') %}
							<h5><a target="_blank" href="{{ post.get_field('url') }}">{{ post.title }}</a></h5>
                        {% else %}
							<h5><a href="{{ post.link }}">{{ post.title }}</a></h5>
                        {% endif %}

						<h4>{{ post.get_field('subtitle') }}</h4>
						<p>{{ post.content }}</p>
					</div>
                {% endfor %}
                {% if validation|length == 3 %}
					<div class="text-center">
						<a class="btn btn-default btn-outline" role="button" href="{{ site.url }}/resources/planning-process/eir-eis">VIEW MORE VALIDATION</a>
					</div>
				{% endif %}
			</div>
			{% endif %}

			{% if permits %}
			<div class="category-section">
				<h5>Permits</h5>
				{% for post in permits %}
					<div class="resource-item clearfix">

						<h6>{{ post.post_date|date('F j, Y') }}</h6>

						{% if post.get_field('url') %}
							<h5><a target="_blank" href="{{ post.get_field('url') }}">{{ post.title }}</a></h5>
						{% else %}
							<h5><a href="{{ post.link }}">{{ post.title }}</a></h5>
						{% endif %}

						<h4>{{ post.get_field('subtitle') }}</h4>
						<p>{{ post.content }}</p>
					</div>
				{% endfor %}
				{% if permits|length == 3 %}
					<div class="text-center">
						<a class="btn btn-default btn-outline" role="button" href="{{ site.url }}/resources/planning-process/permits">VIEW MORE PERMITS</a>
					</div>
				{% endif %}
			</div>
			{% endif %}

		</div>
	</div>

{% endblock %}