{% extends "base.twig" %}

{% block content %}

    <div class="newsletter-issue-header slim">
        <div class="container">
            <div class="col-sm-6">
                <span class="issue-tophead">Newsletters</span>
                <a href="{{post.terms[0].path}}">
                    <h2 class="page-title">{{post.terms|join(',')}}</h2>
                </a>
            </div>
            <div class="col-sm-6 text-right">
                <span class="issue-subhead">WaterFix Update</span>
            </div>
        </div>
    </div>

    <div class="full-height newsletter-view single">
        <div class="design-and-construction container cms-feed">

            <div class="newsletter-section">
                <div class="row row-fix">
                    <div class="col-md-8 col-md-offset-2">
                        <span class="above-title">{{post.terms|join(',')}}</span>
                        <h1 class="single-title">{{post.title}}</h1>
                    </div>
                    <div class="col-md-10 col-md-offset-1 img-offset">
                        <img src="{{post.thumbnail.src}}"/>
                    </div>
                    <div class="col-md-8 col-md-offset-2 single-content">
                        {{post.content}}
                        <div class="share-section">
                            <span>Share this article</span>
                            <a href="">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="newsletter-single-footer">
            <div class="container">
                <div class="col-md-4">
                    <h3>Don't Miss an issue</h3>
                    <span class="form-cta">Sign Up for Email Updates</span>
                    {{ do_form_static(5) }}
                </div>
                <div class="col-md-4 footer-list">
                    <h3>In This Issue</h3>
                    <ul class="newsletter-lists">
                        {% if in_issue %}
                            {% for article in in_issue %}
                                <li>
                                    <a href="{{ article.link }}">
                                        {{ article.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-4 footer-list">
                    <h3>More Newsletters</h3>
                    <ul class="newsletter-lists">
                        {% for issue in issues %}
                            <li>
                                <a href="{{site.url}}/issue/{{ issue.slug }}">{{ issue.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}