{% extends "base.twig" %}

{% block content %}
<div class="full-height single-resource resources-view">
    <div class="container">
		<h2 class="page-title">{{post.title}}</h2>
		{% if post.content %}
			<div class="divider-dash"></div>
			{{post.content}}
		{% endif %}
		{% if post.expanded_content %}
			<div class="divider-dash"></div>
			<div class="expanded-resources">
				{{post.get_field('expanded_content')}}	
			</div>
		{% endif %}
		
	</div>
</div>		
{% endblock %}
